[2018-01-26 20:13] vyzo opened #1 "Rename package to go-libp2p-interface-pubsub"
The protocol implementation in `go-floodsub` is scheduled to expand with new protocol implementations, and will want to become `go-libp2p-pubsub` itself.
This package should be renamed to `go-libp2p-interface-pubsub` and include relevant pubsub object interfaces in addition to protobufs.

[2018-08-14 10:14] mhchia opened #96 "`dial attempt failed: EOF` when `go test` in macOS"
I run the command in both macOS High Sierra(10.13.6) and ubuntu 16.04 and get this issue only in my macOS. I removed the entire `$GOPATH/src`, and performed `go get` again. This issue is still there.

[code]
After debugging for a while, I still don't have any idea about this issue. I will really appreciate if there is any direction to solve it.

[2018-08-14 10:53] vyzo commented on #96
These are misdials lower in the stack; it's probably stale peers and port reuse that's causing this.

[2018-08-14 13:30] mhchia commented on #96
@vyzo Thanks a lot for the direction!

Sorry, I don't understand why that would happen. IIUC, it seems all of the tests are `defer cancel()`, so every host should be closed accordingly? It is quite interesting and I would like to dig more into it if it is worth solving:)

[2018-08-14 13:59] vyzo commented on #96
Well, `Host.Close()` cancels a context, which may take time to take effect.

[2018-08-14 15:21] mhchia commented on #96
According to this, is it possibly helping if we change `defer cancel()` to something like
[code]
in every test? I did it but it seems no effect.

[2018-08-14 20:57] Stebalien commented on #96
Could be https://github.com/libp2p/go-libp2p-swarm/issues/79.

[2018-08-25 18:41] #1 closed

[2018-08-25 18:42] Stebalien opened #4 "Remove this package and replace with go-floodsub"
We may eventually introduce go-libp2p-interface-pubsub as well but we can do that later. The important part is resolving the protobuf conflict.

Replaces: #1.

[2018-08-25 18:42] Stebalien commented on #1
Replaced by: https://github.com/libp2p/go-libp2p-pubsub/issues/4

[2018-08-28 03:00] Stebalien opened #98 "Data race in gossipsub piggybacking"
`GossipSubRouter.sendRPC` calls `gs.piggybackGossip` on a shared RPC object. It should probably copy it first.

[2018-08-28 07:25] vyzo commented on #98
Hrm, it actually owns the RPC object, doesn't it?
We want to avoid copying where possible.

[2018-08-28 07:50] vyzo commented on #98
Is this something `go vet` complained about?

[2018-08-28 07:52] vyzo commented on #98
The code looks very much correct to me, I don't see any actual race in the usage patterns of RPC objects.

[2018-08-28 17:14] Stebalien commented on #98
The race detector complained. It may actually be that the Control field is shared.

In `Publish`, at least, the RPC is shared. I think the issue is that we modify it, send i tout at the bottom of `sendRPC` (over a channel), and then call `sendRPC` again from `Publish`.

[2018-08-28 17:51] vyzo commented on #98
hrm, that's plausible.

[2018-08-28 17:52] vyzo commented on #98
i think this may be a bug.

[2018-08-28 19:04] #98 closed, assigned to vyzo

[2018-08-29 04:44] whyrusleeping opened #101 "delay for heartbeat in tests is inconvenient"
In tests that use gossipsub, we have to sleep for a bit to wait for the heartbeats to set everything up properly. This is pretty inconvenient, as adding two seconds of wait time to every single test gets pretty expensive.

Is there a way to force this to happen immediately?

cc @vyzo

[2018-08-29 07:11] vyzo commented on #101
~We could have an immediate setup on Join, which grafts some links for immediate use.~

edit: we already do that.

[2018-08-29 07:36] vyzo commented on #101
I think the issue may be that when the Joins happen, there are not enough peers that have propagated their subscriptions yet.
We could make the initial heartbeat delay smaller than 1s however.

[2018-08-29 23:37] #101 closed, assigned to vyzo

[2018-09-06 19:03] vyzo opened #103 "Optimize Validator Pipeline"
Our validation pipeline is asynchronous: it spawns a goroutine for each incoming message, which may then get throttled based on topic and global limit throttles.
This creates a performance problem for message signature validation (#97) as we now have to enter the validation pipeline for every message when using signing (planned to become the default in ipfs and filecoin).

Proposed action:
- pre-s

[2018-09-18 08:34] humanely opened #107 "Error creating star network with Floodsub"
Hi,

I am trying to create a star network with floodsub. The code is below.
I create 3 nodes, A, B, C(Actually I want 6/7, but it fails at three)
I started A, and then B by giving seed address of A, and started C by ging seed address of A.
The 2 nodes work fine A<-->B, but as soon as I start C, every node stops receiving subscription topic messages.

Is there a particular way to start the network?

[2018-09-18 09:51] vyzo commented on #107
Could you reduce this to something more to the point of error?

[2018-09-18 19:28] humanely commented on #107
Failure Mode: A<-->B, A<-->C
Works fine, A<-->B, B<-->C

It seems like that the library doesn't allow reusing "A"'s peerid for new connection.

[2018-09-19 06:42] vyzo commented on #107
This doesn't quite make sense.
I feel it is more likely some basic programming error (perhaps due to our lacking documentation) rather than a bug.
Can you reduce the code to this (and also go fmt'it)? There is too much stuff going on.

[2018-09-29 08:16] jvsteiner commented on #4
now that the protobuf definitions have diverged, ie. `go-libp2p-pubsub.pb.RPC` messages do not have a `Control` field, while those defined by `go-floodsub.pb.RPC` our workaround no longer works around.  I believe the remaining problem is that `ipfs/go-ipfs-api` still depends on this package.

[2018-10-03 00:00] Stebalien commented on #4
The go-ipfs-api bug has been fixed but we'd still like to do this.

[2018-10-03 07:45] jvsteiner commented on #4
does anything depend on this any more?  maybe just nuke it...

[2018-10-04 21:33] Stebalien commented on #4
Let's leave this for a bit. *just* in-case. Although we should probably deprecate it. Mind making a PR to update the readme?

[2018-10-04 22:13] jvsteiner commented on #4
sure, submitted #5

[2018-10-05 13:51] upperwal opened #109 "[Question] Multiaddr of publisher available to subscriber"
Hey!

Is multiaddr of the publisher available to the subscriber? What I can understand from the source is that ```Subscription.Next``` can get us ```peer.ID``` and not multiaddr.

User case: If pubsub is used for peer discovery and subscriber whats to directly connect with the publisher.

Thanks

[2018-10-05 15:24] vyzo commented on #109
You have the peer in the `From` field of the message, as bytes.

Also see #97

[2018-10-05 15:31] upperwal commented on #109
@vyzo thanks for the reply.

Yeah, ```From``` only has ```peer.ID``` and not the ```Multiaddr``` of the publisher.

https://github.com/libp2p/go-floodsub/blob/0827f5e955d17c60f422db92d2536be7598b05a6/pubsub.go#L601-L608

I could not understand the reference to #97. Can you elaborate? Thanks.

[2018-10-05 15:33] vyzo commented on #109
Oh, you want the address of that peer?
That is generally not known to the pubsub system, unless it has a direct connection to it.
You may be able to retrieve this from the DHT with `FindPeer`.

[2018-10-05 16:00] upperwal commented on #109
yeah, that can be done. But what would be better

1. Including publisher's ```Multiaddr``` in pubsub message (and increasing the size of **flood** packets)
2. Call ```FindPeer``` and send a dht query which itself is expensive.

Is this use case (publisher wants to directly connect to the subscriber) even prominent?

Any thoughts @Stebalien @raulk

[2018-10-05 16:16] vyzo commented on #109
It kind of defeats the purpose.
Also note that the address is a very loaded term -- it's not just one, there is a whole slew of them and including them in the pubsub message induces a lot of overhead.
Better to use the DHT, it was designed for this!

[2018-10-05 19:03] upperwal commented on #109
yeah, agree.

[2018-10-05 19:03] #109 closed, assigned to nobody

[2018-10-05 19:10] Stebalien commented on #109
Also, we can (and should) have non-DHT peer routing protocols.

[2018-10-07 21:13] jvsteiner opened #110 "question on floodsub and gossipsub compatibility question."
Sorry in advance for bringing this as an issue, as it's probably a better candidate for a wiki.  I have a question: Is it intended that the `floodsub` and `gossipsub` protocols should be compatible?  Ie. if you develop an application that uses one, and you substitute the other for half the nodes - will the network still operate?  I understand that there are practical considerations about traffic v

[2018-10-08 08:24] vyzo commented on #110
yes, absolutely! We want to have fully interoperable floodsub and gossipsub nodes, and an easy upgrade path.

[2018-10-08 10:58] jvsteiner commented on #110
great, thanks!

[2018-10-08 10:58] #110 closed, assigned to nobody

[2018-10-17 07:04] iulianpascalau opened #117 "Handle disconnected peer"
Hello

I have the following use case:
peer A connects to peer B. Peer B do not wishes to retain the connection to peer A and closes the connection (calling net.Conn.Close() on peer A newly connection). After a while, peer A tries to connect again to peer B and the following message appear on peer B:
`09:54:07.886 ERROR     pubsub: already have connection to peer:  <peer.ID 16*E91Gqs> pubsub.go:205

[2018-10-17 08:38] vyzo commented on #117
We wait for the stream handler to report the peer as dead, but if there are no messages it will not happen.
This is a bug.

[2018-10-17 08:52] vyzo commented on #117
See https://github.com/libp2p/go-floodsub/blob/master/comm.go#L43 for the `peerDead` report.

[2018-10-17 08:54] iulianpascalau commented on #117
Ok, missed that file. Thanks.

[2018-10-17 09:05] vyzo commented on #117
Do you have a small repro case? That would help figure out what is happening.

[2018-10-17 09:07] iulianpascalau commented on #117
Will do

[2018-10-17 10:13] iulianpascalau commented on #117
Sorry for the long code posted.

The test code provided creates 1+noOfNodes, the first (mainNode) keeping only 4 connections. On the go routine marked with data race condition the mainNode closes the first connection it has. The log error appeared only after introducing this go routine.

Further tests (not presented here) with the package go-libp2p-kad-dht that also bootstrap nodes produced the lo

[2018-10-17 10:25] vyzo commented on #117
You can greatly simplify by using the libp2p constructor for making hosts: `libp2p.New`.

[2018-10-23 10:13] magik6k opened #118 "Message Aggregation"
A way to aggregate multiple messages into one/fewer may be a nice option for apps operating on CRDTs or other data types which are nice to 'merge'. It could enable massive savings in terms of network bandwidth and cpu processing for certain use cases.

One particular use case I have in mind is voice-over-pubsub app, where an Aggregator would mix multiple sound channels into one (sort of audio-crdt

[2018-10-23 10:59] alanshaw opened #119 "Possible false positive ignore message"
I've just found in `js-libp2p-floodsub` that messages might be ignored when they shouldn't be.

We're doing something similar to:

https://github.com/libp2p/go-libp2p-pubsub/blob/107d351038ce677804e7a180429aff93fa98a2ab/pubsub.go#L460-L462

...but in JS, converting the `seqno` to utf8 string can sometimes result in the same string for different buffers. The following are two different seqno's that

[2018-10-23 13:16] Stebalien commented on #119
This isn't an issue in go. In go, strings are "just bytes" so the encoding won't matter.

However, thanks for flagging (and catching) this!

[2018-10-23 13:16] #119 closed, assigned to nobody

[2018-10-24 22:03] Stebalien commented on #117
This is a very noisy bug...

[2018-10-25 08:13] iulianpascalau commented on #117
I was wondering, as a fix for this issue, wouldn't have been better just to have a single channel for adding/removing the peers (newPeers will be merged with peerDead and the channel type being of a composite struct that will hold Peer.ID [for peerDead], inet.Stream [for newPeers] and an indicator for operation)? In this way the new channel actually would give a chronological sequence of add-remov

[2018-10-25 08:20] vyzo commented on #117
I think we also have a race in that we declare the peer dead both from the reader and the writer.
It is possible that the reader dies, the peer reconnects, and then we send a message with the old writer (that fails) and declares the peer dead again.
Seems like we have to rework our dead peer logic.

[2018-10-25 12:40] iulianpascalau opened #120 "Impersonating while sending a message"
Hello, I have a question. What happens if one (malicious) node starts sending a lot of message and sets the `From` field with another node's ID (let's call it node_victim)? When node_victim starts to send it's own messages, the messages will get discarded as the `func seenMessage` will return true on all other nodes. The malicious node also need to know the victim's current sequence but that will

[2018-10-25 13:49] Stebalien commented on #120
1. We've recently merged message signing to handle this (see the `WithMessageSigning` option). It's currently off by default but I'd like to at least turn message *signing* on by default (even if we leave verification off until enough of the network has upgraded, see #121).

2. You can implement custom message validation with validators. These validators can deserialize the inner message itself to

[2018-10-25 15:30] iulianpascalau commented on #120
Ok, tried the newest version, with message signing ON and it is practically impossible to impersonate, tried it with tampered code to alter the message but it was filtered out by either line 64 on floodsub.go (peer id mismatch) or line 501 in pubsub.go (signature validation failed), so this is great!
Thought of using Validators. Maybe caching the deserialized form as to not do the deserialization

[2018-10-25 15:32] vyzo commented on #120
Please open issues, unless it is something very sensitive.

[2018-10-25 17:04] #120 closed, assigned to nobody

[2018-10-26 13:01] iulianpascalau opened #124 "Signing on some topics"
Is it possible to reshape signing messages on pubsub as to turn signing on or off on topics rather than entire pubsub?
The reason behind this question is that there might be topics that do not need signing and the process of signing/validating induce unwanted overhead. As a practical example, one might implement a topic for broadcasting blockchain transactions that are known that are tampered proo

[2018-10-26 13:32] vyzo commented on #124
I am against such a change in principle -- we really want to sign everything and actively discourage unsigned messages with strict validation.
The overhead of signatures when using ed25519 (or btc) keys is very small.

[2018-10-26 13:46] iulianpascalau commented on #124
OK, thanks.

[2018-10-26 13:46] #124 closed, assigned to vyzo, whyrusleeping

[2018-11-08 07:01] iulianpascalau opened #126 "Messages are not received if len(message) >1048438 bytes"
Hello

I have found a new issue when receiving a message larger then 1048438 bytes (almost 1MB). The message gets trimmed and the signature will not appear valid. The issue comes from line 29 in comm.go where there is a delimiter of 2^20 bytes (1MB message size). Is this delimiter really necessarily? The underlying host object should take care of message fragmentation/flood protection/muxing and o

[2018-11-08 07:05] vyzo commented on #126
Yes, there is a limit for message size everywhere we use delimited readers, and that's the default max message size in libp2p.

The limit is there to protect the peer from memory use DoS attacks; otherwise a peer could just send a multi-gigabyte message that slowly consumes all memory and crashes.

[2018-11-08 07:12] iulianpascalau commented on #126
Ok, but the host object should take care of that by marking the peer as a flood peer and closing its connection. Pubsub being an "application" over libp2p core should simply not care of this limitation.
This restriction will somehow add some complexity as the message composed shall not exceed 1MB in size. If, for some reason, I have to send more data than 1MB, the program must fragment the data in

[2018-11-08 07:15] vyzo commented on #126
This limit needs to be there otherwise the delimited reader will silently read the huge message and consume all the memory.

Yes, it adds complexity, but we can't not have a limit.

[2018-12-06 02:49] bruinxs opened #128 "if pubsub route loses remote peer connection information?"
### Version of go-ipfs

<pre>
$ ipfs version --all
go-ipfs version: 0.4.18-
Repo version: 7
System version: amd64/linux
Golang version: go1.11.1
</pre>

### What I do

Peer A subscribes to a topic 'test_topic', and then peer B publish data to peer A to 'test_topic'. At the beginning, peer A can receive the data published by B, but after about 8 hours, peer B would publish data to peer A. At this t

[2018-12-06 02:51] bruinxs commented on #128
Or can anyone tell me why it happened, thank you

[2018-12-06 18:40] yutongp opened #129 "support insecure connection"
pubsub uses `Conn.RemotePeer()` to get peer id as identifier in it's peer storage.
However, the [insecure](https://github.com/libp2p/go-conn-security/blob/master/insecure/insecure.go) implementation `RemotePeer()` always returns an empty peer id.

I think if support insecure connection is desired behavior, we can use remote address as identifier in peer storage for insecure connection. Or, if pubs

[2018-12-06 18:46] Stebalien commented on #129
Insecure really just exists for debugging. However, to make it *work* properly for debugging, we probably need to fix https://github.com/libp2p/go-libp2p/issues/452.

I'm going to close this issue in favor of that one as this is a more general problem (and we can't really expect libp2p services to work without *some* peer ID).

[2018-12-06 18:46] #129 closed, assigned to nobody

[2018-12-12 15:35] vyzo opened #130 "Faulty peer disconnection notification logic"
If there are multiple connections to the same peer, then the disconnect notification is emitted even though the peer is still connected, breaking gossipsub's peer tracking.
See the logs in https://github.com/status-im/nim-libp2p/issues/8

[2018-12-12 15:36] vyzo commented on #130
Also of note that the peer connection event is emitted twice as well.

[2018-12-12 15:44] vyzo commented on #130
related: #117

[2018-12-13 08:40] vyzo commented on #130
Upon reflection, the issue here is that our peer management is completely incapable of handling multiple connections to the same peer.
The connection notification is emitted twice, which results in two sets of readers and writers, each of which can emit a peerDead event on failure.
So once the host closes one of the two connections, we are guaranteed to declare the peer dead even if the peer is st

[2018-12-13 08:41] vyzo commented on #130
cc @cheatfate

[2018-12-13 10:30] WillZt opened #131 "Message not received"
i ran 40 peers connected each other, when they received a command and send a message to the network at the same time, but each peer did not receive 40 messages (about 34 or 35 messages), i want to know why. tks~

[2018-12-13 21:44] Stebalien opened #133 "Stream oriented instead of peer oriented"
Routing is currently peer oriented but we can probably make it significantly more robust by making it stream oriented. That is, completely forget about peer IDs.

Instead, when we receive a stream from a peer:

1. Read off subscriptions to topics.
2. Send messages on those topics back along the same stream.

Separately, when we notice that we have a connection to a peer, maintain at most one open

[2018-12-13 21:49] Stebalien commented on #133
Actually, we don't *have* to send messages back on the same stream. While I'd *prefer* to do that, we can also just send them back on our outbound stream.

The important part here is tracking our peer's streams independently.

[2018-12-13 21:56] vyzo commented on #133
In principle it is more correct to use a stream oriented approach as it avoids a lot of pitfalls with disconnects, but it is a rather complex change.

[2018-12-14 09:03] vyzo commented on #117
Oops, wrong issue; reopened.

[2018-12-14 09:05] vyzo commented on #117
@iulianpascalau can you try again? We just merged a fix for handling multiple connections in #132.

[2018-12-14 09:05] vyzo commented on #130
Source issue confirmed as fixed by @cheatfate; closing.

[2018-12-14 09:05] #130 closed, assigned to nobody

[2018-12-14 09:39] iulianpascalau commented on #117
Hello, fetched the new version directly from the master branch, ran the same test 10 times, error log did not appear in any of the tests.
We can consider this issue also closed.
Big thanks!

[2018-12-14 09:39] vyzo commented on #117
Excellent!

[2018-12-14 09:39] #117 closed, assigned to nobody

[2018-12-16 07:47] ghost opened #135 "swarm connections are not always established"
I found that when establishing a connection between two devices with a command

[code]

in some cases, the list of active peers `ipfs swarm peers` remains the same. So it works as in the case of QmA -> QmB and in the case of QmA <- QmB. Also note that the message about successful connection appears without delay. Since the connection is not established, I can not use pubsub. Repeating command exec

[2018-12-16 07:50] #135 closed, assigned to nobody

[2018-12-17 13:13] #131 closed, assigned to nobody

[2018-12-18 07:02] anacrolix commented on #131
Did you figure it out? Why did you close the issue?

[2018-12-26 09:00] aarshkshah1992 opened #136 "Protocol for sending a messaging to the entire network"
I want to implement a gossip/flooding functionality similar to how Bitcoin gossips a mined block to the entire network. Any peer in the network should be able to send a message to the entire network. I think go-libp2p-pubsub is a great fit for this as I can simply get all peers to subscribe to the same topic. Would there be any advantages/disadvantages of choosing GossipSub over Floodsub for this

[2018-12-26 09:02] vyzo commented on #136
yes, gossipsub scales much better than floodsub as it bounds the node degree.

[2018-12-26 11:05] aarshkshah1992 commented on #136
@vyzo  But does the bounded degree matter if we need to send the message to every peer in the network ?

[2018-12-26 11:27] vyzo commented on #136
yes of course, as it bounds the numbers of messages sent; floodub can send O(n^2) messages -vs- O(cn) in gossipsub, where c is the bound.

[2019-01-03 19:16] hsanjuan opened #139 "Mostly undocumented"
Going https://godoc.org/github.com/libp2p/go-libp2p-pubsub shows almost no documentation for any of the very numerous exported methods from this library. Golint shows 66 issues on this regard. Most existing documentation strings do not finish with a `.` so it looks ugly.

IMHO this gives a very bad image about the state of this code and in the end it counts towards people choosing to implement the

[2019-01-05 01:53] #136 closed, assigned to nobody

[2019-01-05 01:55] aarshkshah1992 commented on #103
@vyzo  I would like to work on this. Is this up for grabs ? Have read the go-libp2p pubsub code  and am looking for ways to contribute. This looks like a great first task !

[2019-01-05 12:59] vyzo commented on #103
this is a relatively tricky issue to tackle for starting project -- and we are also not sure yet whether it is a problem.

[2019-01-07 09:15] aarshkshah1992 opened #141 "Running gossipsub tests fails locally"
When I run the tests in gossipsub_test.go locally, they fail. Here's the test output

[code]

What do I need to do to fix this ?

[2019-01-07 09:24] vyzo commented on #141
This is a known issue with tests, sometimes there are misdials.

[2019-01-09 19:55] nikkolasg opened #142 "basic pubsub test - fail to make it pass"
Hi, I wanted to play with pubsub a bit, with a very basic scenario:
- 3 peers all subscribe to the same topic "random"
- peer 1 is connected to 2 and peer 2 is connected to 3
- peer 1 publishes some data for the "random" topic

I would expect that peer 2 would receive the message and also transmit it to peer 3 but in my code only peer 2 does.

I fail to find the relevant missing piece of info in t

[2019-01-10 08:08] vyzo commented on #142
Your scenario is valid. You need to wait a bit for overlay initialization (1-2s for the heartbeat).

[2019-01-10 09:56] nikkolasg commented on #142
Great, indeed it works when I put 2 seconds, thanks ! I'm working on a commented version now.

Also there's still one weird behavior I would not have expected: if I connect the nodes together *before* creating the pubsub and subscribing to the topic, it does not work - simply hangs. Connecting the nodes *after*  subscribing works....

[2019-01-10 10:01] vyzo commented on #142
the delay should fix this weird behaviour too.

[2019-01-10 12:08] vyzo commented on #142
Note that if you open the connections _before_ creating the `PubSub` object, then it will not work as there will be no connection notification events and so the peers will not be discovered.

[2019-01-11 09:30] iulianpascalau opened #144 "Documentation regarding subscription to a new topic"
Hello
If it is possible, maybe, to add a few lines on pubsub.go:721 (comment regarding Subscribe func) in which it should warn that the subscription is not done instantaneous?
The reason I'm asking this is that on a high-performance machine the subscription is done very fast and the tests we wrote work but when running same tests on a low performance machine (eg. on a docker), *sometimes*, *some t

[2019-01-11 09:33] vyzo commented on #144
We can do that.

[2019-01-11 09:48] vyzo commented on #144
#145 adds some documentation.

[2019-01-11 09:52] #144 closed, assigned to vyzo

[2019-01-15 14:35] whyrusleeping commented on #139
I think some godoc example code blocks would be really great. https://golang.org/pkg/testing/#hdr-Examples

[2019-01-16 10:41] vyzo opened #150 "Validator should see the peer that forwarded the message"
With the addition of blacklists in #149 we can now null-route misbehaving peers that send invalid messages.
The primary decider for black-listing is the validator: it is application-specific and in position to detect invalid messages.

However, the validator interface currently only includes the message itself.
That means that the validator cannot see the peer that _forwarded_ the message, only th

[2019-01-17 16:09] #150 closed, assigned to vyzo

[2019-01-17 18:12] vyzo commented on #126
Closing this, as I think it has been resolved.

[2019-01-17 18:12] #126 closed, assigned to nobody

[2019-01-18 09:37] iulianpascalau opened #152 "When publishing a lot of messages I get "dropping message to peer" log info"
Hello

I am trying to send around 50000 - 100000 messages from peer 1 to peer 2, each message is around 300 bytes as fast as libp2p's stack can handle (no time.sleep between each send) and sometimes I get
[code]
and sometimes I get:
[code]
Since there is no feedback when the message has been sent (or not) in my publish loop I do not know how much I have to wait till the next publish. Is there a go

[2019-01-18 10:23] vyzo commented on #152
It would be quite unwieldy to provide feedback on this from the library.
When is the message considered sent? When it has entered the main loop? When it has been sent to one peer? When it has been sent to all peers? And how do we deal with slow peers?

If you are looking to saturate the network my advice would be to add an operation that yields to the scheduler between messages; a tiny delay (say

[2019-01-18 11:47] iulianpascalau commented on #152
I know it is awkward to have some sort of callback func for publishing. Right now, the message is considered sent when the message object is being fetched from publish chan in the main loop (so another message can be inserted) but this might cause the message to be dropped for each connected peer's output chan.
In this case, 1us delay should solve the problem but it doesn't look too good for me. I

[2019-01-20 21:47] paralin opened #153 "Duplicate blacklist check in pubsub"
https://github.com/libp2p/go-libp2p-pubsub/blob/master/pubsub.go#L294

[code]

The second if should always be false, correct?

blame cc @vyzo

[2019-01-20 22:04] vyzo commented on #153
Ugh, the first one should be a check in the connection table; thanks for catching.

[2019-01-20 22:07] vyzo commented on #153
#154 fixes it.

[2019-01-20 22:08] vyzo commented on #153
this bug came to existence when the blacklist was promoted to an interface; initially there were two map checks, and they became two checks on the same object.

[2019-01-20 22:26] #153 closed, assigned to vyzo

[2019-01-21 21:52] vyzo opened #155 "The timecache should be checked/updated after validation"
Currently, the timecache is checked/updated for seen messages prior to message validation.
This was done with the intention of avoiding duplicate message validation.
Unfortunately it introduces a censorship attack vector:
If an adversarial actor can predict a peer's sequence number (by observing a prior message), then it can attempt to send an invalid message with the predicted id.
The message wil

[2019-01-21 21:53] vyzo commented on #155
Proposed action: move the timecache check/update after validation.
It will result in duplicate validation of seen messages, but it will nullify the attack vector.

[2019-01-21 22:10] vyzo commented on #155
In addition to the censorship attack vector, an adversarial actor can cause peers to consume memory in the timecache by sending a torrent of invalid messages.
The fix in #155 also closes this vector.

[2019-01-21 22:38] Stebalien commented on #155
SGTM. We could also check in both places to avoid re-validating duplicate *valid* messages.

[2019-01-21 22:40] Stebalien commented on #155
We could also have a separate (shorter) validation cache where we cache a hash of the message/author.

[2019-01-21 22:44] vyzo commented on #155
We can do with a check of the valid message cache, but without update.

[2019-01-21 22:48] vyzo commented on #155
Note that the hash cache won't work any better, as the author cannot be proven to be authentic prior to validation.

[2019-01-21 22:51] #155 closed, assigned to vyzo

[2019-02-06 08:40] iulianpascalau opened #157 "Exporting funcs in sign.go"
Hello
I was wondering if funcs inside sign.go could be made exported as their functionality might be reused in some other situations. Just to mention, I have done a direct send struct that will send direct messages between peers but I want to be able to sign/verify messages as to be 101% sure that someone did not interposed between those 2 peers. So, I have reused the pubsub_pb.Message struct for

[2019-02-06 09:37] vyzo commented on #157
Sure, we could export those, although it's a fringe use case.

[2019-02-06 14:37] iulianpascalau commented on #157
End up by discarding message signing/verifying on direct sent -> direct received messages as there is already an authentication mechanism when the handshake between those 2 peers takes place.
Thanks.

[2019-02-06 14:37] #157 closed, assigned to nobody

[2019-02-10 04:23] nairan opened #159 "Questions on the difference between notifySubs and Publish"
Noob question - Inside publishMessage (pubsub.go), the mentioned two calls are one after the other. Both seem handing messages to subscribers, but placing messages in different places. What is the connection and difference between these them? Thank you.

[2019-02-10 08:47] vyzo commented on #159
One call (`notifySubs`) is used to deliver the message locally, the other call passes the message to the router for forwarding.

[2019-02-10 12:16] cbluth opened #160 "Hello World Example"
I am interested in using libp2p pubsub features. Is there a simple "hello world" type of example?

[2019-02-11 20:56] aschmahmann opened #161 "Message Propagation/Gossip Modularity"
Currently there is a base PubSub with different PubSubRouters for floodsub and gossipsub. However, it would be useful in certain situations to have a gossip/routing layer that didn't require assumptions as strong as those made by PubSub.

For example, #42 could be easier to solve if a new protocol with different requirements could be layered on top of the basic routing layer without requiring PubS

[2019-03-02 00:36] raulk opened #167 "Race detector unhappy in tests"
Running tests with the race detector (#166) uncovered two issues:

1. Data race:

[code]

2. Goroutine threshold exceeded for race detector. See this PR where a similar issue was resolved: https://github.com/libp2p/go-libp2p-transport/pull/47.

[code]

[2019-03-02 08:20] vyzo commented on #167
Issue 2 is not resolvable, we do fire more than 8128 goroutines in that test.

[2019-03-02 08:21] vyzo commented on #167
Issue 1 is not a bug in the core code, but a fluke in the test which accesses state outside the event loop for test purposes.

[2019-03-02 08:22] vyzo commented on #167
Can't resolve either of these issues unfortunately.

[2019-03-02 20:05] raulk commented on #167
The solution is to detect when we’re running under the race detector and downscale the concurrency. See https://github.com/libp2p/go-libp2p-transport/pull/47 for an example.

---

About issue 1, gotcha. Let’s skip that test under the race detector then.

[2019-03-02 20:17] vyzo commented on #167
That's like standing on your head to satisfy a tool. Also, the test will probably not be effective.

[2019-03-02 20:26] raulk commented on #167
@vyzo it’s a useful tool. How about two tests: current version when we’re not running with the race detector, and downscaled version when we are? That’s the best of both worlds.

[2019-03-02 20:39] vyzo commented on #167
I would say just disable the race detector for that test too. The tool is useful, but I am not fond of making alchemies to satisfy it.

[2019-03-02 20:43] raulk commented on #167
That precludes the test from ever running on CI, which I don’t think is what we want?

[2019-03-02 20:44] vyzo commented on #167
Can't we selectively disable it?

[2019-03-02 20:48] vyzo commented on #167
Also I want to run all tests on CI; if the race detector can't handle them, then turn it off.

[2019-03-02 20:54] raulk commented on #167
CI always run tests with the -race flag now. Ideally we’d run tests with and without the race detector to discriminate heisenbugs, but at the expense of increasing build time by 2x. Would that help?

Discard the two tests idea — still won’t help in CI. My brain is fried from all the gomodding 🙃

[2019-03-02 21:02] vyzo commented on #167
Running 2x is probably an ok solution.

[2019-03-03 11:56] Kubuxu commented on #167
Reducing the number if sent messages makes the race detector not freak out in 2.

My solution for test number 1 would be: Add those tests in a separate file, with `!race` build tag. I will update `ci-helper` to check if any such tests exist and run them without race detector.

[2019-03-18 15:17] raulk opened #169 "Offloading messages for async validation"
From @arnetheduck (Nimbus, ETH 2.0 client):

To summarise:

1. Validation can be costly or not feasible in some scenarios to perform sync.
2. Is it feasible to consume the message, do validation offline, then republish it? How does that affect message caches, duplicate detection across the network (e.g. if we send the message to peers who had already seen it -- and possibly even propagated it if t

[2019-03-18 16:04] vyzo commented on #169
Validation is run asynchronously in a background goroutine.

[2019-03-18 17:25] raulk commented on #169
@vyzo the concern is not with blocking the gossip thread. The use case is that validation of message M is co-dependant on other messages M’ that _could’ve_ arrived previously, but may have not. If they didn’t, the client can pull them from the network. That process can cause validation of message M to lengthen to seconds or more. All the while, Gossipsub has a 150ms validation timeout, and also a

[2019-03-18 17:41] vyzo commented on #169
With the current implementation it's not possible. With quite a bit of work it may be possible.

[2019-03-18 17:52] raulk commented on #169
Ok, so the validator would have to fail when it enters the non-deterministic scenario. We’d need a callback for failed validations, so that those messages can be processed separately.

Once we’re able to validate the message, we’d have to republish it. What’s the trade-off in terms of amplification and dedup? (It’s still the same message)

[2019-03-18 18:22] vyzo commented on #169
It's a rather complex change to implement. The trade off is that the message propagation would be very slow, as it wouldn't be forwarded until it could be validated.

[2019-03-18 19:26] raulk commented on #169
I think that tradeoff is known and accepted. They basically want nodes to forward only messages whose correctness can be verified against past state (e.g. one block depends on its parent). Since they’re async and eventually consistent, it’s possible that gossiped stuff arrives out of order. Also it’s possible that gossips never arrive, correct?

That’s ok. I’m more worried about the extra amplific

[2019-03-18 19:55] arnetheduck commented on #169
Re dedup, I don't think any sane eth2 client will rely on libp2p-level dedup - we have a block merkle root by which we identify the payload, both when requesting them and when receiving them from the network - this root is persistent across sessions.

I'd regard that part of the protocol as a nice-to-have optimization, nothing else. In fact, I find it hard to imagine an application that relies on

[2019-03-18 20:33] raulk commented on #169
I’m talking about dedup insofar controlling amplification is concerned @arnetheduck. This is important to prevent cycling.

[2019-03-18 21:16] raulk commented on #169
(Of course apps should ensure idempotency when relying on pubsub.)

[2019-03-18 21:20] arnetheduck commented on #169
yeah, sorry for being unclear there: that's what I was alluding to with the sat-link question - how is the anti-cycling tuned with respect to high-latency links?

[2019-03-19 16:48] ickby opened #170 "Authorisation: Any plans?"
It would be highly useful if one would be able to authorize the subscription to and publishing of events. There are some small steps taken in that direction, e.g. [here](https://github.com/libp2p/go-libp2p-pubsub/blob/master/pubsub.go#L794), but this is not fully implemented yet. Are there any plans to do this in the near future?

[go-rpc](https://github.com/libp2p/go-libp2p-gorpc) recently receiv

[2019-03-19 17:09] hsanjuan commented on #170
Pubsub supports signed messages and verification now, so you can just ignore "unauthorized" messages  in your subscription (although I think you may still relay them).

[2019-03-19 17:10] Stebalien commented on #170
You can also register a topic validator.

[2019-03-20 05:13] ickby commented on #170
Thanks, both sounds like valid ideas.

[2019-03-21 12:01] raulk commented on #169
Right now it's not adaptive. We should explore this case together ;-) @arnetheduck

[2019-03-23 07:56] ickby commented on #170
I played with the validator suggestion. One problem with this is, that published messages are still posted to all subscribed nodes. This means it is impossible to build a set of trusted nodes in which messages are pivately published, as every untrusted node can simply register the topic and get all messages. You can only prevent receiving messages from untrusted nodes.

Is this kind of trusted nod

[2019-03-23 08:15] vyzo commented on #170
I am a little confused by this. If a validator rejects a message, then it will not be published further.

[2019-03-23 08:45] ickby commented on #170
I may get it wrong. But asume I want to publish a massage from my node.  My validator must return true for my own node for the relevant topic, otherwise I cannot publish anything. This than means that each peer that has registered for that topic, and my node knows about, receives the message, even if I would like to restrict it to a certain set of peers.

[2019-03-23 10:48] vyzo commented on #170
Yes, but they still have to validate the message to accept it. There is no mechanism to limit the peers that receive the message, other than using a different topic.

[2019-03-23 11:05] ickby commented on #170
Thanks for the feedback. I can work around that for my needs, or worst case reimplement the floodsub router with this kind of functionality, it is easy enough to do so.

[2019-04-03 11:12] raulk commented on #169
Copying over from the ethresearch/p2p Gitter thread:

[code]

[2019-04-11 04:36] yutongp opened #172 "bandwidth limiting"
Hi libp2p engs,

In our project, we use libp2p-pubsub for our p2p layer. Today we did a DoS test, we sent 3000 TPS requests into the network and the all network hang(all 30 nodes stuck).
We investigated our program profile a bit and found out 45% of cpu timing is working on pubsub message verification and that basically consumed all our 4 cores CPU resource for each node in our network. Btw, we la

[2019-04-11 08:26] vyzo commented on #172
I am a little reluctant to automatically blacklist high bandwidth nodes in the library, this should be done by user decree.

You can also try to tune down the validation throttle, which will start dropping messages that can't be validated because the queue is full.

[2019-04-11 08:27] vyzo commented on #172
But in general I am in agreement that we should detect the situation and at least notify the user, which can then take action and potentially blacklist peers.

[2019-04-11 08:53] raulk commented on #172
I believe you’re seeing two different ~interrelated,~ issues that interplay.
1. Pubsub validators are assumed to be lightweight.
2. We don’t do traffic shaping, yet.

For 1, there’s #169 (if you really need to do heavy validation). For 2, we are evolving the connection manager and eventually it’ll become a traffic shaper.

Would you or your team be willing to help us out with any of those? :-)

[2019-04-11 08:58] raulk commented on #169
By popular petition, we need to take this up, see #172. I have a design in mind which I’ll post later as I’m on mobile now.

[2019-04-11 10:46] raulk commented on #169
An async validator feature could look like this:

[code]

We'd need to work out how offloading a message would impact message caches and sliding windows.

[2019-04-11 11:04] vyzo commented on #169
The seen cache would be most severely impacted, as messages can be rebroadcast into the network way after the 120s cache duration.
We need to consider the effects of this.

[2019-04-11 11:06] vyzo commented on #169
In terms of structure, we can add an api for forwarding prepared messages (ie messages published by someone else, already signed).
This way we can offload the message for async validation. When the validator has completed, it can forward the message using the new api.

[2019-04-11 13:45] iulianpascalau opened #173 "Validators are called multiple times for the same message"
Hello

There seem to be an issue in which validators are called multiple times for the same message (same peer, same seqno). After placing some trace print lines in pubsub.go here is what I have found out:
suppose we have a message m with an id (id = peerID+seqNo)
1. first time message m enters the pushmsg func, it queries seenMessage func which will return false so it can continue. It launches th

[2019-04-11 15:50] vyzo commented on #173
The change you mention was made to close a hole that would lead to a potential censorship/cache poisoning  attack.
The problem was that any peer that could predict the message id of another peer (an observation of a prior message is sufficient), could launch an attack where they generated invalid messages with the next message ids of the targeted peer.
If those message were marked prior to validat

[2019-04-12 05:43] iulianpascalau commented on #173
Ok, got it. Maybe, if signing on messages becomes mandatory, message.Signature might become the msgID and markSeen could be called in pushMsg func.

[2019-04-12 08:06] vyzo commented on #173
That's not a bad idea.

[2019-04-12 09:19] #173 closed, assigned to vyzo

[2019-04-12 22:59] yutongp commented on #172
We investigated the validation throttle configuration. It doesn't help in our experiment. We used 500 and 10, in both cases our CPUs climbed to 100% quickly under our load test. I think the reason is blew code always run in "full speed"
[code]
No matter how long the throttle queue is, as long as there is task remain in the queue, above code will still process as fast as it can to dequeue and doing

[2019-04-13 00:17] yutongp commented on #172
We are also curious if there is any design, plan or discussion for DDoS attack mitigation in libp2p/ipfs community.

[2019-04-13 08:01] vyzo commented on #172
We have an open issue for optimizing the validator pipeline to prespawn goroutine workers -- see #103. We probably want to prioritize this now, as it would probably help in this case.

[2019-04-15 14:54] aschmahmann opened #175 "PubSub & GossipSub configuration proposal"
### Context
#### PubSub spec
The PubSub spec is mostly limited to the wire protocol which is pretty barebones and as a result is open to multiple implementations.

The only "configuration" mentioned in the spec is regarding the `Topic_Descriptor` and the potential for enabling authentication and encryption on the channel. However, the `Topic_Descriptor` protobuf is never actually sent over the wir

[2019-04-15 15:14] raulk commented on #175
Thank you so much for this detailed write-up. To make sure I'm not missing the forest for the trees, I'm going to restate a summary of what you are proposing:

1. Gossipsub implementations should allow users to locally attach configuration parameters to topics. There is no concept of mesh-wide topic configuration, which would require some level of consensus.
2. You want to modularise Gossipsub to

[2019-04-15 15:57] aschmahmann commented on #175
Right on the money with 2 and 3.

Regarding 1: There is no "gossipsub the protocol" concept for mesh-wide configurations. However, there is now a concept for mesh-wide configurations in "GossipSub the go implementation" -- that concept is to use Protocol IDs (which is the current solution used by FloodSub, RandomSub, and GossipSub).

However, as I mentioned above:

[2019-04-25 18:55] vyzo commented on #173
#176 fixes the issue -- it now ensures that user validators are invoked at most once for each message by marking them as seen as soon as the signature has been verified.

[2019-04-25 18:56] vyzo commented on #172
Can you try #176? The validator pipeline has been reworked to avoid running the aforementioned hot code at full speed.

[2019-04-25 20:59] Stebalien opened #177 "Reduce Allocations"
We've noticed issues in bitswap where allocating small internal "request" objects (e.g., `addValReq`) can get a bit out of hand.  We should try to send these requests by-value when possible.

[2019-04-26 08:32] vyzo commented on #169
#176 supports long-running validators in the simplest possible manner:
It removes the default (short) timeout and allows the validators to run arbitrarily long without any need for api changes or complex contraptions.

[2019-04-26 09:02] vyzo commented on #169
Note that you need to adjust the time cache duration accordingly.

On the other hand there is still a use case for completely offline validators, which could take days to complete.

[2019-04-26 09:50] iulianpascalau commented on #173
Great news! Thanks.

[2019-05-02 09:04] vyzo commented on #167
I have fixed the test race and disabled the problematic test in #178.

[2019-05-02 09:04] #167 closed, assigned to nobody

[2019-05-02 09:07] vyzo opened #179 "Make strict signing the default"
We have had message signing for a little while now, and the signature is critical in preventing cache poisoning attacks.

I suggest it is time to make strict signing the default.

cc @Stebalien @whyrusleeping

[2019-05-02 14:57] yusefnapora commented on #179
This seems like a sensible default to me, and it seems like it would be the least surprising behavior as a new user.

[2019-05-02 16:41] Stebalien commented on #179
It's been long enough.

[2019-05-02 17:46] lidel commented on #179
cc @alanshaw  @vasco-santos are we doing this in JS land?

[2019-05-02 18:24] Stebalien commented on #179
Dammit! I'm sorry, I completely didn't consider that. @vyzo let's back out of this for now.

[2019-05-02 18:35] vyzo commented on #179
ugh, you want to revert? We can just delay making default in ipfs.
Besides, let's apply some (friendly) pressure on the js folks to implement it, it's really crucial.

[2019-05-02 19:02] Stebalien commented on #179
I just don't want to break libp2p interop. Let's see what the js people think.

[2019-05-02 19:43] raulk commented on #179
Unless we plan a gomod release really soon, we should be having some slack for js-libp2p to catch up.

[2019-05-02 19:47] vyzo commented on #179
I've tagged a release and propagated to p2pd, but other than that it's up to the individual users to upgrade.
For instance, go-ipfs hasn't been updated yet.

Regardless, I really think this should be _high priority_ for the js folks, we've been living with a DoS vector for too long.

[2019-05-02 19:47] vyzo commented on #179
Plus it's pretty simple to implement!

[2019-05-03 11:32] alanshaw commented on #179
@jacobheun / @vasco-santos do you have bandwidth to implement it before the end of this quarter?

I’d rather not unnecessarily add pressure before IPFS Camp but if it can be done easily then it would be good to get in.

[2019-05-03 12:08] jacobheun commented on #179
We can implement it but something will likely have to drop for one of us, it wasn't on our radar for Q2. Now that we have libp2p/interop with pubsub tests, it should help speed up the release of this.

Default signing would probably be an ideal thing to roll out in tandem with moving pubsub out of experimental configuration.

[2019-05-03 14:17] raulk commented on #179
@jacobheun let's implement this in js-libp2p-pubsub in two steps:

1. sign outgoing messages -- this will reinstate interop -- urgent -- should be easy.
2. validate signature of incoming messages.

If we do step 1 quickly, we can keep this patch merged. If it takes any longer than a few hours, we can't live with broken interop too long, and we'll have to revert this patch, re-release (sigh), and i

[2019-05-03 14:22] vyzo commented on #179
there isn't such urgency as to "fix in a few hours", it can take a couple of days because it hasn't bubbled up in the interop suite.
Btw, we are still interoperable as we can disable strict message signing with an option.

[2019-05-03 14:33] raulk commented on #179
Yeah, I meant a few hours of _effort_, not as in a few hours from now, should've clarified. As long as we can get outbound signing implemented by Monday, I'm fine.

Also, posting a quick heads-up in the users forum would be great: https://discuss.libp2p.io/c/users ;-)

[2019-05-03 15:49] jacobheun commented on #179
I'll start working on these, should be able to get 1 tested against interop on Monday.

[2019-05-06 12:05] jacobheun commented on #179
Signing work is done and passing in interop, it just needs final review and release.

I'll look at adding validation this week.

[2019-05-07 12:16] jacobheun commented on #179
Signing is released and I cut a new patch release of js-libp2p, any new installs of the latest js-ipfs will also get the change.

[2019-05-12 00:04] Ajkcki opened #182 "Couldn't figure out how to make pubsub work, need help."
I'm trying to modify the echo example in go-libp2p-examples to make it work with pubsub. After quite a few hours, I couldn't make it work. I don't know where to ask for help, so here is my question: can anyone please write an example to show how to use this package? If anyone can help me make my code work, it can serve as an example for others.

`go run main.go -l 30000` will start a subscriber, s

[2019-05-12 08:52] vyzo commented on #182
You need to connect the nodes after constructing the pubsub objects.
Also, please _do not_ construct the basic host directly, this is an internal detail. Use the libp2p constructor with `libp2p.New` to construct hosts.

[2019-05-12 13:11] Ajkcki commented on #182
vyzo, Thank you for the response. Now I connect to the subscriber right after constructing the pubsub object
[code]
The server did respond, but with error

`23:48:40.758  INFO     pubsub: error reading rpc from Qmard2u18iv3v7iLmEG3NVHzE8Sw9yKfz65ecUm9v1bHQw: stream reset comm.go:38`

That happened because when the second instance exited, it closed the connection. Any idea how to fix it?

BTW:  `ma

[2019-05-12 13:17] vyzo commented on #182
that log is just an informational log message, it's not an error by any means.

[2019-05-12 23:27] Ajkcki commented on #182
Thank you so much vyzo, everything seems to be working now. I have one further questions though, how should I manage all the connections? I thought once I put a peer's address into `Peerstore`, libp2p will automatically take care of connecting to, checking the status of (ping/pong), reconnecting to all the peers.  Apparently this is not the case.

[2019-05-13 08:30] vyzo commented on #182
No, this is not the case.
In the echo example, there is an implicit connection when opening a new stream, which uses the information in the address book.
Pubsub can't do that, we can't start randomly connecting to peers for which we have addresses in the address book. Instead we rely on the user to provide a bootstrap mechanism that establishes connections as needed.

[2019-05-13 12:04] Ajkcki commented on #182
Got it, thanks. Once connected, do you auto-reconnect if the connection is lost, say because of some network problem?

[2019-05-13 12:05] vyzo commented on #182
Unfortunately there is no auto-reconnection.

[2019-05-13 17:14] Ajkcki commented on #182
Thanks. So I have to manage the connections myself. I'll try to do it, and if I would encounter further problems, I'll ask for help.

[2019-05-15 08:22] #103 closed, assigned to nobody

[2019-05-19 08:08] bonedaddy opened #183 "Running Next On A Subscription Hangs Indefinitely"
I'm attempting to create a distributed task processing system using libp2p that will send a message when work has been done. Other workers are supposed to pick up on this message, and finish processing.

Currently I'm running into an issue,

I have a loop like

[code]

Currently this will hang, and even when one worker sends a message to the topic, none of the other workers currently listening to

[2019-05-19 08:29] vyzo commented on #183
Any details from the panics?

[2019-05-19 22:40] bonedaddy commented on #183
@vyzo I've [uploaded](https://gateway.temporal.cloud/ipfs/QmPLX8PoHrAE3XPnSHfqE71wzKSHfmux8RanSg3yWPynfD) output from the logs.

[2019-05-20 08:49] vyzo commented on #183
oooh, it's an Out Of Memory panic.

[2019-05-20 16:48] aschmahmann commented on #175
After talking with @raulk at DTN it sounds like we may be interested in combining this configuration proposal with a great refactor of go-libp2p-pubsub.

The main issue with go-libp2p-pubsub that requires a refactor independent of the configuration proposal above is that the `PubSubRouter`s all depend on private variables in `PubSub` which makes it essentially impossible for users to create their

[2019-05-20 20:58] bonedaddy commented on #183
Interesting, I suppose that makes sense with me spawning many goroutines that may not complete due to the `Next` hanging. Any ideas why `Next` seems to be hanging the way it does? I suspect it might be something with the way I'm spinning up my pubsub nodes, since I've never personally experienced any kind of hanging when interacting with pubsub through `go-ipfs-api`

[2019-05-21 10:53] raulk commented on #175
Synthesising notes of my discussions with @aschmahmann in DTN'19. I'm mostly concerned with how not to special-case this.

* I believe [_retroactive subscriptions_](https://activemq.apache.org/retroactive-consumer) could be a facility available in the pubsub base layer, not just on gossipsub.

* Right now base, the code for gossipsub and floodsub in go-libp2p is kinda tangled. We should separate t

[2019-05-21 12:19] aschmahmann commented on #175
I can see both the view of adding this functionality for all routers, and the points made by @vyzo and @hsanjuan in #42 about wanting to keep a basic pubsub implementation simple.

Absolutely!

That's one way to do it, and it's fine by me as long as the topic metadata can be arbitrary strings (effectively sub-protocol IDs) instead of a preset group of flags.

It's worth pointing out that classic "

[2019-05-27 15:34] prestonvanloon opened #186 "Unclosed reader in github.com/libp2p/go-libp2p-pubsub.(*PubSub).handleNewStream"
This ReaderCloser is never closed. We are seeing high memory usage on the heap from this line and I suspect it is because `r.Close()` is never called.

https://github.com/libp2p/go-libp2p-pubsub/blob/49274b0e8aecdf6cad59d768e5702ff00aa48488/comm.go#L33

[2019-05-27 15:38] prestonvanloon commented on #186
I _think_ the closer for this reader is just the closer of the underlying stream, but there are branches which the closer is not called.

Why not add `defer r.Close()` after opening the reader?

[2019-05-27 17:03] raulk commented on #186
@vyzo is looking into this right now!

[2019-05-27 17:11] vyzo commented on #186
The stream is properly clsoed or reset in all branches.

There is a test here:
https://github.com/libp2p/go-libp2p-pubsub/blob/49274b0e8aecdf6cad59d768e5702ff00aa48488/comm.go#L38
If it is `EOF` then we can `Close` write and be done, in the other two cases the stream is `Reset`.

Note that `defer Close()` is not sufficient, as we may need to `Reset` in abnormal termination cases.

[2019-05-28 04:47] opaolini opened #187 "Question about implementing custom PubSubRouter"
Greetings!

I am currently implementing a custom Router outside of context of `pubsub` package that uses some types outside of the scope of `pubsub`.

The last thing I am missing is grabbing the message channel for a particular peer. In `floodsub` and `gossipsub` it's done like so:

[code]

The problem in my custom one is that `*PubSub`'s field `peers` is unexported and I am unable to do so.

Is i

[2019-05-28 08:15] vyzo commented on #187
It is a little more complicated than that, but we are aware that there is a need to implement routers outside the library.
We will work to address the issue in the not-so-distant future.

[2019-06-05 20:34] whyrusleeping commented on #187
@vyzo could you elaborate a little more on the work required to allow for this? I'd love to see external routers written, and i'm sure people wanting to write them would be happy to help make it possible

[2019-06-12 08:46] #182 closed, assigned to nobody

[2019-06-12 08:46] Stebalien commented on #182
(closing for tracking)

[2019-06-12 08:46] Stebalien commented on #179
@vyzo this is done, right?

[2019-06-12 09:11] vyzo commented on #179
Yeah, this looks pretty done. I guess we can close.

[2019-06-13 20:20] #179 closed, assigned to vyzo

[2019-06-17 05:50] wenchaopeng opened #191 "message arrival rate"
Is it possible to ensure that all messages are received when sending a large number of messages from one node to multiple nodes?
I tested it and found that some messages were not received.

[2019-06-17 09:23] raulk commented on #191
@pwc5232759 We need some more details of your setup to be able to help you, e.g. pubsub router you're using, message rate, what the network looks like (is this on the public libp2p network or not?), how are topic members finding each other, is this a single topic? Also describe the kind of message loss you see. Also, enable the `INFO` log level (one quick way to do it is to set the `IPFS_LOGGING=i

[2019-06-17 09:25] wenchaopeng commented on #191
ok, I will provide it later, thank you for your reply.

[2019-06-19 14:14] JackBekket commented on #160
It would be nice to have some pubsub example in https://github.com/libp2p/go-libp2p-examples

[2019-06-24 14:08] JackBekket opened #192 "Is it possible to get list of topics in network before subscribing to any?"
Hi!

I want to get info about all currently existent topics in network _before_  to subscribtion. Is it possible?

Right now, I should subscribe to some topic, _then_ connect to the nodes (https://github.com/libp2p/go-libp2p-pubsub/issues/142 told me, so I must open connections only _after_ subscribing).

But what if I don't know the topic? How can I get list of topics in network? And how it can b

[2019-06-26 18:32] #192 closed, assigned to nobody

[2019-07-04 17:42] rairyx opened #193 "Questions about RPC"
Regarding the RPC structure [https://github.com/libp2p/specs/tree/master/pubsub#Implementations](url)
In what case would an RPC message include multiple content messages from multiple sources?
How can one know the original sender of the RPC?

[2019-07-04 20:14] Stebalien commented on #193
Each `Message` in the `RPC` includes the peer ID of the peer that sent the message and a signature.

[2019-07-05 18:31] rairyx commented on #193
Thanks @Stebalien I want to do some routing based on `RPC` instead `Message` before applying floodsub/gossipsub, is it possible?  Sometimes the `Message` doesn't contain  `from`  field(omitted by the sender), how to distinguish different messages/RPC in this case?

[2019-07-05 21:51] Stebalien commented on #193
Yes? I'm not sure what you're asking.

Messages must contain the from field.

[2019-07-06 01:25] rairyx commented on #193
@Stebalien

I'm wondering if one can relay the RPC message in whole to one random peer before publish the messages inside the RPC one by one to multiple peers as floodsub/gossipsub do.

Isn't the from field optional as defined in rpc.proto? In case the sender want to hide its ID.

[2019-07-15 09:52] NIC619 opened #194 "Not filling mesh peers if there are less than `D` of them when joining a topic"
### What is wrong?
In `GossipSubRouter.Join()` if there are fanout peers but not enough of them, it won't `selects the remaining number of peers (D-x) from peers.gossipsub[topic]` as suggested in the [spec](https://github.com/libp2p/specs/tree/master/pubsub/gossipsub#topic-membership).
https://github.com/libp2p/go-libp2p-pubsub/blob/4221a3966bf2bf3f915fcd6623c6bde688d99556/gossipsub.go#L269-L274

[2019-07-16 10:03] raulk commented on #194
Hey @vyzo, is there a misalignment between implementation and spec?

[2019-07-16 12:14] vyzo commented on #194
it's a minor bug I would say.

[2019-07-16 12:55] raulk commented on #194
@vyzo

Please elaborate. OP probably wants to understand impact and where the bug is: in the spec or the implementation.

[2019-07-16 13:28] vyzo commented on #194
The bug is in the implementation.
The mesh should be filled at D peers if the fanout peers are less, which is what the spec says.
The impact is minimal, the next heartbeat will fill the mesh.

[2019-07-20 02:55] raulk commented on #194
@vyzo — let’s fix the implementation promptly. Several teams are using this as the reference implementation, and it creates confusion, despite the impact being minimal, in theory.

[2019-08-12 17:03] Nashatyrev commented on #133
Hey @vyzo @Stebalien !
Did I get it correctly, that pubsub communication between 2 peers is kind of 'half-duplex' in terms of streams? I.e. each peer opens a write-only stream and 2 -side communication requires 2 streams?
If this is correct then can you please explain the rationale behind this solution?
Thank you!

P.S. some discussion is here: https://discuss.libp2p.io/t/gossip-questions/257/6

[2019-08-13 09:01] vyzo commented on #194
Added some code to handle this in #196.

[2019-08-21 00:20] Stebalien commented on #133
To copy from that thread,

TL;DR: It makes it simpler. In libp2p, we generally use one of two patterns:

1. Request based. In this case, we open a duplex stream, send a request, and receive a response.
2. Message based. In this case, we open a stream and send messages to the peer. We don't expect responses to these messages.

In _both_ cases, the peer opening the stream controls the stream.

Pubsu

[2019-08-21 13:22] Nashatyrev commented on #133
@Stebalien thanks for detailed explanation! I think I understand your point.

However gossip appears to me like something between pattern 1 and pattern 2. Because there are `IHAVE/IWANT` messages which fall rather to the pattern 1.
I've implemented the gossip with 2 streams and this approach introduces a number of edge cases like inbound stream is already open, but outbound is not yet. When one st

[2019-08-21 22:11] Stebalien commented on #133
I'm talking about the request/reply pattern:

1. Send a request.
2. Wait for a reply.
3. Return the reply.

E.g., HTTP.

The key part here is actively _blocking_ for a response. However, with gossipsub, `IWANT` doesn't result in a message being sent back on that same stream. Instead, it's just asking the other side to retransmit that message to us on the usual channel (when it gets around to it).

[2019-08-22 16:17] MBakhshi96 opened #197 "Messages get lost when using gossipsub"
Pubsub is supposed to be reliable but I lose messages when using gossipsub. The problem is when I use around 10 nodes and all nodes try to broadcast messages to a topic in the pubsub, not all of the messages get delivered and receiving nodes lose some messages. I also have tried floodsub, but the problem still persists.

[2019-08-22 16:23] aschmahmann commented on #197
@MBakhshi96 Can you be more precise about what you mean by "losing messages"? Are your nodes actually connected to each other and have they completed their initial handshakes?

[2019-08-22 16:46] MBakhshi96 commented on #197
@aschmahmann I mean that sent messages didn't get received by all of other nodes. The nodes Are connected, I also tried the fully connected configuration, but that was not helpful.
I wait for 2 seconds after connecting nodes to each other and then try to subscribe them to a topic.

[2019-08-22 16:52] raulk commented on #197
@MBakhshi96 we are not aware of any issues that could cause this. Can you post a test case showing the issue in a github repo? It needs to be reproduced in order to help you. Thanks.

[2019-08-23 09:10] MBakhshi96 commented on #197
@raulk I'v added a test case showing the problem [here](https://github.com/MBakhshi96/go-libp2p-examples/tree/gossipsub-bug/pubsub).
The example works in this way:
- First every node broadcast a message with their id in round 1.
- Then each node acknowledges received round 1 message and adds its own id to it. Acknowledgments are broadcast to all of the nodes.
- Every node receives acknowledgements

[2019-08-23 09:22] vyzo commented on #197
Are there any logs about dropped messages?

[2019-08-23 09:49] MBakhshi96 commented on #197
@vyzo Where can I find logs for this execution? There is no log in the output, but it may because of level of logging used in the pubsub code.

[2019-08-23 10:28] vyzo commented on #197
`export IPFS_LOGGING=info`

[2019-08-23 10:28] vyzo commented on #197
also, what is your toplogy?

[2019-08-23 10:34] MBakhshi96 commented on #197
@vyzo My topology is a simple ring, but I'v also tested it with fully connected topology.
The logs are stating that messages couldn't be delivered:

`INFO     pubsub: Can't deliver message to subscription for topic TOPIC; subscriber too slow pubsub.go:522`

I don't know what causes this problem and why these messages don't get retransmitted.

[2019-08-23 10:57] vyzo commented on #197
this log tells you that the pubsub subsystem is dropping messages at subscription delivery; you are simply not consuming the messages fast enough.

[2019-08-23 10:58] vyzo commented on #197
note that there is no retransmission whatsoever in pubsub; also note that the messages are propagated normally, they are just dropped at delivery.

[2019-08-23 11:29] MBakhshi96 commented on #197
@vyzo What do you mean by not consuming fast? I'm receiving messages inside a for loop, which simply waits for a message and then prints it in the output. How can I consume it faster?
How can I prevent this situation? I mean how can I get notified that the receiver can't handle more messages and therefore stop overwhelming the receiver?

[2019-08-23 11:33] vyzo commented on #197
Are you running the receiver in separate goroutines?

[2019-08-23 11:38] MBakhshi96 commented on #197
@vyzo yeah. You may take a look at the code I provided for reproducing the problem in previous comments. you can use the code [here](https://github.com/MBakhshi96/go-libp2p-examples/tree/gossipsub-bug/pubsub).

[2019-08-23 11:52] vyzo commented on #197
what is your message rate? it may be that your computer is too slow.

[2019-08-23 12:02] MBakhshi96 commented on #197
@vyzo Actually, I don't know my message rate. In the provided example, every node will publish only 1+10 messages, but I don't know how long it takes to publish these message. Also, even if my pc is too slow, which is not, I think it's not good to lose message. There must be a way to ensure reliable message delivery.

[2019-08-23 12:17] vyzo commented on #197
there might be something else at play, are you receiving _any_ messages?
Maybe your receiver goroutines are not running at all.

[2019-08-23 12:18] vyzo commented on #197
Also, re: drop messages: there has to be a throttle somewhere, we can't buffer an infinite number of messages.

[2019-08-23 12:27] MBakhshi96 commented on #197
@vyzo Most of messages get delivered, I only lose a few messages.
How can I increase the buffer capacity? I know that it's not possible to keep all of the message but the number in this case in not really huge. Also, it might be a good idea to notify publishers when recipients can't keep up with them.

[2019-08-23 12:42] vyzo commented on #197
there is currently no way to specify the subscription buffer size.

[2019-08-23 12:49] MBakhshi96 commented on #197
@vyzo So what is your proposition? How can I circumvent this problem, since I need a reliable broadcast scheme?

[2019-08-23 13:08] vyzo commented on #197
You can make a pr to make the buffer capacity configurable perhaps, but this is not the solution long term. How many nodes are you running in the single computer?

[2019-08-23 13:09] MBakhshi96 commented on #197
@vyzo Between 10 and 20.

[2019-08-23 13:23] vyzo commented on #197
that's weird, it's not a lot of nodes.

[2019-08-23 13:34] vyzo commented on #197
is there any delay between message transmission, or are you sending as fast as you can?

[2019-08-23 13:42] MBakhshi96 commented on #197
@vyzo There is no delay between reception and transmission.

[2019-08-23 13:57] vyzo commented on #197
can you add a small delay before transmitting consecutive messages?

[2019-08-23 14:17] MBakhshi96 commented on #197
@vyzo I tried to add 100 milliseconds of delay before publishing to pubsub, but the problem still persists and it has got even worse!

[2019-08-23 14:32] vyzo commented on #197
are you blocking the receive loop with that delay? that could explain getting worse.

[2019-08-23 14:36] MBakhshi96 commented on #197
@vyzo I was just inspecting the pubsub.go code and discovered [here](https://github.com/libp2p/go-libp2p-pubsub/blob/v0.1.0/pubsub.go#L450) that the capacity of the channel is only 32! Also in case the channel reaches to its capacity, the code simply discards the message!

[2019-08-23 14:38] MBakhshi96 commented on #197
@vyzo No. I run it in another goroutine.

[2019-08-23 14:49] vyzo commented on #197
btw, are you maxing the cpus in your computer?

[2019-08-23 14:55] MBakhshi96 commented on #197
@vyzo No!

[2019-08-23 14:57] MBakhshi96 commented on #197
@vyzo In case you want to further investigate the problem, I had pushed the [example](https://github.com/MBakhshi96/go-libp2p-examples/tree/gossipsub-bug/pubsub) for reproducing the problem. I've also mentioned it before.

[2019-08-23 15:12] vyzo commented on #197
this is very weird, you are not maxing your cpus and yet you are too slow to receive the messages!

[2019-08-23 15:35] MBakhshi96 commented on #197
@vyzo It gets better with adding random delays in range of a second. But that is too much of delay for 10 nodes!

[2019-08-30 09:25] MBakhshi96 commented on #197
No news in this thread?

[2019-09-04 05:13] aschmahmann commented on #197
A few things about this issue:

1) While you "only have 10 nodes" the number of messages that can be incident on any given node can be higher (e.g. 20-30 even under a simultaneous step-by-step broadcast), add in some randomness and the fact that sometimes a message is dropped is totally plausible (when I ran it on my machine I mostly got all messages sent successfully, and sometimes 1 message was

[2019-09-06 08:30] MBakhshi96 commented on #197
@aschmahmann making queue size configurable would be good, so everybody can change the limit based on implementation needs.

I don't want to store anything on top of pubsub, the only thing that I want is to have reliable broadcasts using pubsub.

That would be really helpful for me, so I will be able to retransmit lost messages.

[2019-09-06 14:19] aschmahmann commented on #197
@MBakhshi96 it really sounds like there's some shared state you're trying to track. Take this example where only rebroadcasting and/or a persistence layer is the only way to help with lost messages.

A-B-C are connected in a line. A sends a message to B, B doesn't send it to C (maybe B crashed, maybe it blacklisted C, etc.). Even though A wanted to send a message to C and it successfully sent the

[2019-09-18 23:03] Stebalien opened #198 "Topic handles and ownership"
# Motivation

* It's not possible to forward messages on a topic without also subscribing.
* It's not possible to instruct pubsub to remain connected to a topic's "mesh" without also subscribing. That means calling `Publish` without first calling `Subscribe` will often just drop the message.
* It's difficult to reliably register/manage validators in the presence of multiple services as validators

[2019-09-19 00:34] aschmahmann commented on #198
@Stebalien Thanks for the writing this up.

I wanted to flesh out the motivation behind the Topic Handles part a bit more:

1) Currently the task of worrying about connecting to relevant PubSub peers is relegated to the developer instead of PubSub. However, when PubSub becomes capable of being responsible for its own peer discovery (#184) we need an "I care" indicator that's true even if we're not

[2019-09-19 09:40] vyzo commented on #198
This all sounds reasonable.

[2019-09-23 11:07] vyzo commented on #187
#199 performs the necessary refactoring; it should be sufficient to implement out of tree routers.

[2019-09-30 08:45] lukesolo opened #200 "Subscription.Cancel() hangs forever if PubSub exited"
Function Cancel() blocks forever because no one listens to sub.cancelCh if PubSub has exited.

[code]

How to reproduce:

[code]

I think that Subscription should have the same context as a GossipSub, so that you could check it in the Cancel function

[code]

[2019-09-30 08:49] vyzo commented on #200
Yes indeed, this is a bug; care for a patch?

[2019-09-30 12:56] lukesolo commented on #200
@vyzo This is not a critical bug for me (at least now), but I made a pull request with a simple fix, and now I think what to do with the other methods which get context as an argument. Should they check both inner and outer context for cancellation in select statement?

[2019-10-01 12:17] vyzo commented on #200
If they are doing an operation with the event loop only, because that's only when they can deadlock on shutdown.

[2019-10-01 12:17] vyzo commented on #200
Closing as the problem in the issue has been fixed by #201

[2019-10-01 12:17] #200 closed, assigned to nobody

[2019-10-03 12:20] aarshkshah1992 opened #202 "Fix flaky tests"
Some tests are flaky & do not reliably pass locally or on CI (#141 for example).
As discussed with @aschmahmann, the two we know to be flaky are:

1. TestGossipsubGossip
2. TestGossipsubGossipPiggyback

Please feel free to point out more in the comments.

Also, please can someone assign this issue to me ?

[2019-10-03 19:48] aschmahmann commented on #202
TestGossipsubControlPiggyback I suspect is also flaky given that it is skipped with `t.Skip("travis regularly fails on this test")`.

I can try and do some more looking into this, but I suspect that most of the tests that utilize `time.Sleep` are flaky to some degree, but most are not currently causing major issues and will therefore be difficult to detect. If these sleeps are actually the problem

[2019-10-05 18:58] #194 closed, assigned to vyzo

[2019-10-06 15:20] raulk opened #206 "Question: evaluating message metadata for routing decisions"
We don't propagate IHAVE metadata immediately. We stash it for piggybacking, or until the next heartbeat arrives (1s). However, we are planning to use this metadata to evaluate routing decisions (some of which will be based on latency observations).

How can such a model be effective, given that the arrival of gossip is non-deterministic, and it doesn't carry any provable timestamps?

Basically, i

[2019-10-06 17:19] aschmahmann commented on #206
Sure, it's true that we won't be able to do much in comparing latencies based on IHAVE messages. However, we can calculate the latency of a peer based on how quickly they respond to IWANT messages with the message itself.

Also the questions about the reliability/performance of a peer (latency, throughput, etc.) seem to mirror the discussions going on for improving bitswap sessions in ipfs/go-bits

[2019-10-06 19:12] vyzo commented on #206
This is pertinent to episub and it is a very good question; the decision will have to be more nuanced and perhaps include timestamps.

[2019-10-06 19:15] vyzo commented on #206
It might also be not such a big deal in that the latency will be tree-optimized based on mesh transmission of messages. The `IHAVE`s will help correct overlay deficiencies and it might not be as important to select the _fastest_ peer, any peer might do.

[2019-10-13 09:42] whyrusleeping opened #209 "Allow per-topic message size limits"
I'd like to be able to configure a maximum message size per topic. For example, filecoin transactions should never be larger than 32k, but block messages might be larger than that.

I don't want to have to read the entire object from the other peer into memory before i drop it, I should be able to detect the message is too big, and then either kill the connection, or discard the bytes as they come

[2019-10-13 09:44] whyrusleeping opened #210 "Allow prioritization of traffic per topic"
I'd like to be able to prioritize traffic on one topic over traffic from another, so that messages from topic B would never cause delays (as much as is practical) for topic A, if topic A hash higher priority.

[2019-10-13 22:19] aschmahmann commented on #210
On the whole seems reasonable. However, I suspect that without having a similar type of application priority at lower levels of the libp2p stack you're frequently not going to get the results you want unless pubsub is really the only data exchange protocol you're running.

For example, I can prioritize topic A over B, but other libp2p functions (e.g. bitswap/graphsync) may still end up getting in

[2019-10-13 23:41] raulk commented on #210
On the sending side, gossipsub coalesces pubsub messages (on the same or different topics) that are directed to the same peer within one aggregate protobuf wire message (which also contains the gossip, and subscription changes). Topic-centric priorities don’t seem like they’d make any difference in that scheme.

_Perhaps_ on the receiving side we could process messages and gossip for multiple topi

[2019-10-14 00:38] Stebalien commented on #210
We can do this at two points:

1. When sending a message, we can replace the single `sendMsg` channel with high, medium, and low priority channels.
2. When validating messages, we can replace the single `validateQ with high, medium, and low priority channels.
3. When joining a topic, we can specify the priority.

This should handle the two bottlenecks: validation and sending.

[2019-10-14 01:38] aarshkshah1992 commented on #202
@vyzo @aschmahmann  @Stebalien

The first [PR](https://github.com/libp2p/go-libp2p-pubsub/pull/203) makes the flaky test wait for mesh construction & subscription processing rather than sleeping & hoping it has finished. However, that didn't do much.

The tests fail because Travis has a timeout of 10 minutes per test & not all subscribers receive the message before that. I'm not being able to thin

[2019-10-14 19:47] ZenGround0 opened #211 "Question: expected behavior on empty mesh peers?"
I've noticed that the following situation can occur during gossipsub publish:

1. There are peers in the pubsub topic map for this topic [this ok is true](https://github.com/libp2p/go-libp2p-pubsub/blob/master/gossipsub.go#L217)
2. This router is in the mesh for the topic [this ok is true](https://github.com/libp2p/go-libp2p-pubsub/blob/master/gossipsub.go#L230)
3. The router has not added any pee

[2019-10-14 19:52] ZenGround0 opened #212 "Configurable Heartbeat Interval"
I'd like to be able to configure the gossipsub router's heartbeat interval.  This is motivated by setting up local testing networks.  The current interfaces don't give me a way to block until the mesh overlay is setup which I need to block on before publishing because of the behavior in #211.  This mesh setup doesn't happen until the first heartbeat (the initial delay doesn't help because it is so

[2019-10-15 00:48] vyzo commented on #212
The heartbeat interval is already configurable through the `GossipSubHeartbeatInterval` variable!

[2019-10-15 01:26] vyzo commented on #211
If there are no peers in the mesh, there is nothing to publish ... except we might have floodsub peers.
That latter may be a bug, otherewise it is expected behaviour.

Regardless, we may want some kind of event notification for when we have peers so that the application knows when to start publishing.

[2019-10-15 03:16] ZenGround0 commented on #211
That would be amazing for my use case

[2019-10-15 03:17] #212 closed, assigned to nobody

[2019-10-15 07:53] bruinxs commented on #186
I think this part of the logic does have problems. One of my services introduced go-ipfs. It runs for a while (sometimes, sometimes two hours) and throws out of menery to exit abnormally.

I don't know why it is like this now, but I suspect it is because stream is never called.

![66810012-023e1500-ef61-11e9-8298-1ffc71b27027](https://user-images.githubusercontent.com/11286880/66810811-9197f800-ef

[2019-10-16 02:50] bruinxs opened #214 "An unexpected error in opening the stream can result in an infinite loop"
When my ipfs uses pubsub, an unexpected loop caused by `(p *PubSub) handleNewPeer` causes an infinite loop, which makes the service memory usage too high and directly causes the process to exit.

I guess the possible reason is:

1. An error occurred while `p.host.NewStream`, such as timeout.
https://github.com/libp2p/go-libp2p-pubsub/blob/2247a54a8cfc7f84d54d28429a60fa4ce89d5c43/comm.go#L61

https

[2019-10-16 02:51] bruinxs commented on #214
ref https://github.com/libp2p/go-libp2p-pubsub/issues/186#issuecomment-542087167

[2019-10-16 05:28] aschmahmann commented on #211
#184 allows the Publish function to block on waiting for a bootstrapped condition to be met (e.g. connected to a certain number of peers).

@ZenGround0 is that sufficient? It feels much better then an event, since a node could lose all its peer connections and then we would need to fire a "we don't have enough peers event" and manage that (worry about what happens if we drop an event, etc.).

[2019-10-16 06:57] aschmahmann commented on #202
The Travis 10 minute timeout shouldn't be an issue. However, it does look like not all the subscribers are receiving the messages.

My guess is that this is happening because messages are getting dropped here:
https://github.com/libp2p/go-libp2p-pubsub/blob/d28851004cfcbccceea98f8eb409c3c01f882097/gossipsub.go#L345-L348

If we can confirm this is true (this can be a simple as throwing a panic inst

[2019-10-16 07:26] aschmahmann commented on #209
Seems reasonable. While not necessary it seems like we should get #189 resolved first though.

[2019-10-16 13:36] vyzo commented on #211
But that's for peers that are not subscribed, no? We need something for peers in the mesh.

[2019-10-16 14:05] aschmahmann commented on #211
No, it looks for peers in the mesh. See https://github.com/aschmahmann/go-libp2p-pubsub/blob/45117e8a47af41fd65eaa03ae8b6298adbe96b68/gossipsub.go#L97 for more details.

[2019-10-16 14:10] vyzo commented on #211
We can still emit events regardless of blocking publish -- so that the application can decide exactly when it can start publishing.
Blocking is a little rude for many use cases.
It is a slightly different use case than the pubsub-router.

[2019-10-16 14:48] aschmahmann commented on #211
Whether (and how) the publish is blocking is determined by options passed into publish function. Adding more features doesn't really hurt except by adding more confusion and potential footguns.

As I mentioned above, if you do this by receiving an "I'm ready" event you also need to receive "I'm not ready anymore" event. However, depending on how the event system is used/constructed it might be pos

[2019-10-16 15:20] ZenGround0 commented on #211
@aschmahmann's PR works great for our use case.

[2019-10-16 15:38] aschmahmann commented on #211
@ZenGround0 question about how you're using pubsub to make sure we don't accidentally miss something. The current "publish when ready" code only runs if a discovery service has been passed into pubsub. The reason is that if you're not ready we'd like to actively discover peers to make you ready.

My understanding is that you are using a DHT for peer discovery, but instead of using the approach at

[2019-10-16 16:57] ZenGround0 commented on #211
My preference is B.  We could make A work if it is a lot better on your end.

[2019-10-18 04:23] aschmahmann opened #215 "Expose the peer that delivered the message"
It may be useful for peers that want to layer protocols on top of pubsub to know which peer actually delivered a message to them.

We already have this information available in the `from` field of the RPC:

https://github.com/libp2p/go-libp2p-pubsub/blob/2247a54a8cfc7f84d54d28429a60fa4ce89d5c43/pubsub.go#L144-L149

so this would mean making the information publicly available in the Message struct:

[2019-10-18 04:29] aschmahmann opened #216 "Have a configuration option for Subscriptions receiving duplicate messages"
Assuming #215 is implemented there may be reasons why subscribers will want to see **all** the peers that sent them messages, not just the first peer to send them a given message.

The simplest way to do this seems to be just having a `SubOpt` that allows us to send messages even if we've seen them

https://github.com/libp2p/go-libp2p-pubsub/blob/2247a54a8cfc7f84d54d28429a60fa4ce89d5c43/pubsub.go#

[2019-10-18 05:16] aschmahmann commented on #215
@raulk @vyzo @ZenGround0

Do we think this is sufficiently reusable such that we're better off recommending this approach rather than the hackier, but already available, approach of using the validators? Note, that the validators take the peer that delivered the message as an input so we actually already have an avenue for getting the `from` into application space.

[2019-10-18 05:56] raulk opened #217 "Published messages can be dropped silently"
Currently if the outbound message queues for all peers in a mesh/fanout are full, gossipsub drops the message silently, which has already bitten us various times (in stress testing, and during actual usage).

This happens here: https://github.com/libp2p/go-libp2p-pubsub/blob/master/gossipsub.go#L359

# Proposal

- [ ] Extend the signature of `Publish()` so it can take functional options to configu

[2019-10-18 05:56] raulk commented on #217
cc @whyrusleeping

[2019-10-18 06:16] raulk commented on #216
Messages are not content-addressed, so to make this secure we'll need to call the validators every time we intend to deliver a duplicate (otherwise, an attacker could send a different message with the same ID, and have it delivered as a duplicate). Alternatively, we could require signatures to be enabled to use this feature -- that would guarantee message integrity. We still need to cache validati

[2019-10-18 07:28] aschmahmann commented on #217
Note this is already available in #184

[2019-10-18 07:56] raulk commented on #198
Strongly agree with this proposal. Here's a little sketch of how I see this design operating. Did I get it right?

![image](https://user-images.githubusercontent.com/1101242/67076481-ce145f80-f1bf-11e9-8413-129be77cca2f.png)

[2019-10-18 08:09] vyzo commented on #215
Using the validators is just too hacky, let's expose `from`.

[2019-10-18 08:11] vyzo commented on #216
With signatures we can easily cache validation results (ie have a second time cache that tracks `valid` messages) and deliver duplicates without re-entering the validation pipeline.

[2019-10-18 08:39] aschmahmann commented on #198
@raulk you're close but off by a bit. The validators will belong to the topic for now so they're defined on each trunk instead of the branches. Also, the proposed API in #184 bundles publishing with the topic handle since there's only one topic handle and there's only a need for one publishing handle.

[2019-10-18 08:55] raulk commented on #198
Ok, that makes sense. Rationale: defining validators on the _leaves_ (subscribers and publishers) would prevent us from attaching validators to relay-only topics (i.e. a topic we're helping disseminate, but we're not actively consuming from), because such topics have no _leaves_.

Put a different way: validators secure payloads flowing through a topic (topic handle), not local logic (subscriber, p

[2019-10-18 09:05] raulk commented on #215
Closed in #218.

[2019-10-18 09:05] #215 closed, assigned to nobody

[2019-10-18 09:32] vyzo commented on #198
I think Relay only nodes must also validate -- otherwise they may forward invalid messages which offers attackers an easy avenue to inject invalid messages without being discovered.
Also, when there is blacklisting in place, the invalid message will get the relay only node blacklisted which is not what we want.

TL;DR: the validator _must_ be attached to the topic, even for relay only nodes.

[2019-10-18 09:32] hsanjuan commented on #217
woa I noticed this yesterday in a completely unrelated thing. What I saw is that hammering gossipsub results in messages seemingly not sent around (or dropped on receive).

[2019-10-18 15:03] aschmahmann commented on #198
👍 to `the validator must be attached to the topic, even for relay only nodes.`

Also, we may at some point want to add the ability to auto-blacklist people who send us invalid messages regularly, which means relays would probably want to validate.

[2019-10-18 15:18] aschmahmann commented on #217
TLDR: This the proposal does not fully solve this problem, but it's not clear it has to. If we want to more fully solve this problem there are more things we can talk through.

@hsanjuan, yep there are some things we can do here but there are some protocol level problems to tackle if we actually wanted to "solve" this problem (see: #197 for more about the problem).

For example, even if `WaitUntil

[2019-10-18 15:30] vyzo commented on #198
Relays will almost certainly want to validate, otherwise they are open to attack.

[2019-10-18 17:12] aschmahmann commented on #216
Maybe I'm just missing something, but how are signatures going to help here?

Is it because of the message hash? If so, it's possible that protobuf's lack of canonical serialization will hurt us here.

Is it because of the signature over the sequence number? If so, then there's some potential attack avenues here.

[2019-10-19 06:27] raulk opened #219 "Signatures over protobuf-serialized data are not deterministic"
* As a result of protobuf serialisation not being canonical.
* [This gist](https://gist.github.com/kchristidis/39c8b310fd9da43d515c4394c3cd9510) collects notes on this issue.
* May be a non-issue in practice, given that we don't use problematic field types (e.g. maps), but protobuf implementations may play tricks on us. Unlikely, but the spec doesn't prevent against it.

[2019-10-19 06:34] raulk opened #220 "[Roadmap issue] Short-term hardening"
Features needed by Filecoin and ETH2, in order of priority:

- [X] Expose the peer that propagated the message to us (#218)
- [X] Subscription options, which enables...
- [x] Topic handles (#198), so we can...
- [ ] Configurable per-topic max message sizes (#209).
- ~[ ] Duplicate consumption (#216), which is blocked by...~
- ~[ ] Validator cache (we don’t want to validate dupes over and over agai

[2019-10-19 06:36] raulk commented on #217
Pubsub indeed does not guarantee message deliverability in terms of distributed behaviour, but in terms of local behaviour, it should absolutely guarantee that a message you intended to publish has actually left your box.

[2019-10-19 10:18] vyzo commented on #219
In practice it is not a problem because we don't use any fancy data structures.

[2019-10-19 23:53] Ziwei-Wei opened #221 "How to unsubscribe a topic simply using pubsub instead of using router?"
There is not an unsubscribe method to use for the pubsub struct. However, there is a Router interface which has a Leave method implemented by the GossipSubRouter and the FloodSubRouter(although it is an empty method). If I have to use the unsubscribe functionality, then I have to avoid construct my pubsub directly using pubsub.NewGossipSub because I need to use my router to unsubscribe the topic.

[2019-10-20 00:23] aschmahmann commented on #221
The subscription object has a `Cancel()` function that you can call.

[2019-10-22 02:33] Ziwei-Wei commented on #221
@aschmahmann Yes, that is exactly how I use the pubsub library right now. I have to sustain a  `subMap  map[string]*pubsub.Subscription` with `pubsub  *pubsub.PubSub` to be able to close subscriptions and do other stuff, but the pubsub object actually already has `myTopics map[string]map[*Subscription]struct{}` in the pubsub struct which did not expose enough method to use directly. I just feel li

[2019-10-22 10:11] Stebalien commented on #221
The point of subscribing to a topic is to receive messages on that topic. To do that, you need the subscription object. I'm not sure how you could use pubsub _without_ storing these Subscription objects somewhere.

Additionally, the pubsub service is designed to be usable by multiple services/apps at once. Providing a cancel method on the PubSub instance itself would make it easy for services to a

[2019-10-22 10:11] #221 closed, assigned to nobody

[2019-10-23 17:35] aschmahmann commented on #211
After talking it over with @Stebalien we think option A would likely make more sense and is a less confusing API. There are a number of possible ways you could wrap the DHT for peer discovery, and you guys may even be inclined to change them over time.

A couple easy options on how you might want to do this:
1) Make Advertise do nothing, and FindPeers do a random walk before returning an empty cha

[2019-10-24 08:06] hsanjuan commented on #217
A lot of this problem can be solved by not hardcoding some channels' length to things like 32 (setting way higher, configurable defaults to give some space for bursts), and by complaining loudly when a message is dropped because channels are full. Also, more documentation about the implementation.

[2019-10-24 18:06] Ziwei-Wei commented on #221
Thank you for the clarification! I can now understand this design.

[2019-11-01 01:10] aschmahmann commented on #211
Closed by #184

[2019-11-01 01:10] #211 closed, assigned to nobody

[2019-11-01 17:52] Stebalien commented on #186
Can you pull a goroutine dump? You should see a tone of `handlePeerEOF` and/or `handleSendingMessages` goroutines.

[2019-11-01 17:54] Stebalien opened #223 "Pubsub reads from the stream twice"
When `handleSendingMessages` exits, we call `inet.FullClose(s)` (calls read internally). However, we concurrently read from the stream in `handlePeerEOF`. Libp2p doesn't currently allow this.

The simple solution is to just _always_ reset the stream when `handleSendingMessages` returns (which is probably the simplest solution.

[2019-11-01 18:19] aschmahmann commented on #198
Now that the PR starting off the Topic handlers has landed #184. There were a few DX changes I think we should consider

- [ ] `Topic` should have a `Topic() string` function which returns the topic name
- [ ] The `Subscription` object's `Topic()` function should return `*Topic` instead of `string` (**breaking**)
- [ ] There should be a validator Topic option passed in as part of `pubsub.Join(topi

[2019-11-01 21:21] aschmahmann opened #224 "Topic handler bugs"
A few bugs related to the new Topic handlers managed to slip through including:

- Calling `Topic.Close()` throws an NRE 😨
- Calling `Topic.Close()` still allows some calls to be utilized (e.g. can still Publish after Close)

[2019-11-01 21:28] Stebalien commented on #198
IMO, yes to all of those.

[2019-11-01 23:42] Stebalien opened #226 "Topic methods should select on PubSub's context"
Currently, they'll block when called if pubsub has been closed.

[2019-11-02 23:43] aschmahmann commented on #226
@Stebalien This seems to be true for all of the PubSub methods as well. Should we fix them there as well?

[2019-11-03 09:50] vyzo commented on #226
Yes, let's fix them!

[2019-11-04 18:33] aschmahmann commented on #226
closed by #225

[2019-11-04 18:33] #226 closed, assigned to aschmahmann

[2019-11-04 18:33] aschmahmann commented on #224
closed by #225

[2019-11-04 18:33] #224 closed, assigned to nobody

[2019-11-04 23:02] aschmahmann opened #228 "PubSub Discovery boostrapping does not return as fast as it could"
Currently when we Publish to a topic and require boostrapping (e.g. passing in `WithReadiness(MinTopicSize(5))`) we wait until a discovery query completes before checking again to see if we're ready.

https://github.com/libp2p/go-libp2p-pubsub/blob/534fe2f382d8dd75dab89ddb0760542546c9f24e/discovery.go#L268-L274

This is not ideal since it's possible that we could passively discover peers (MDNS, an

[2019-11-05 09:26] vyzo commented on #228
Yeah, it would be nice to factor out of band connections.
Either approach works, polling probably easier to work with.

[2019-11-15 17:33] aarshkshah1992 commented on #217
@raulk @aschmahmann  I completely understand what we want to accomplish here. Please can I start working on the `WaitUntilQueued ` & `WaitUntilSent ` options ? Will share some notes/code soon.

[2019-11-15 17:44] aschmahmann commented on #217
@aarshkshah1992 fine by me, not sure if @raulk has any thoughts/concerns here.

[2019-11-15 18:39] aschmahmann commented on #209
An issue that @aarshkshah1992 brought up is that the PubSub protocol currently only has one stream per peer. This means that if topic A has a 1MB max and topic B has a 1KB max that the stream potentially has to read 1MB for every RPC that comes in, since it might be a topic A message.

There are a number of possible solutions, but here are a few:
1. Have one stream per topic instead of peer
2. Mod

[2019-11-17 10:36] aarshkshah1992 commented on #216
@aschmahmann

The message signature is over the entire message & not just the SeqNo as written [here](https://github.com/libp2p/go-libp2p-pubsub/blob/28a87b31213a2f1e8ce09b3b05757753ebc5faf3/sign.go#L82).

I think what @raulk means is that the key in the validated messages cache should also incorporate the validated message signature(unlike using the hash, this also solves the 'canonical serializa

[2019-11-17 13:29] aarshkshah1992 commented on #216
@vyzo So, for the validated messages cache:

1. The key will be "msg.From + msg.SeqNo + Validated msg.Signature"
2. The duration will be the same as the seenMessages timeCache i.e. 2 minutes
3. For a signed message, we validate the signature and
    a) If the key is in the cache, skip validation
    b) If the key isn't in the cache, add the message to the cache upon successful validation.

Wdyt ?

[2019-11-17 13:31] vyzo commented on #216
The key should be just the message Id, no need for anything else.
And yes, it would be a timecache with some appropriate duration.
But don't rush to implement this please, it is trickier than it looks.

[2019-11-17 13:35] aarshkshah1992 commented on #216
@vyzo Not sure what you mean. If the key is just the messageID and a peer sends us a message with the same seqNo as before but with different content & hence a different signature, how do we decide whether to validate that message or not ?

[2019-11-17 13:39] vyzo commented on #216
We would still have to validate the signature, but in general we use messageID's for tracking things internally. A peer sending us a message with the same seqNo and different content is buggy, and will result to this message being ignored by the seen cache.
But if we were to do the validation cache for duplicate message delivery, this complicates things.
You see? Trickier than it looks.

[2019-11-17 13:58] aarshkshah1992 commented on #216
@vyzo I understand what you mean.

But, a malicious peer could send us a message with the same ID and different content to skip validation as mentioned by @raulk [here](https://github.com/libp2p/go-libp2p-pubsub/issues/216#issuecomment-543534449).
If duplicate message delivery is turned on, such a message would skip validation & erroneously reach the subscribers.

Having the signature as part of t

[2019-11-17 15:19] aarshkshah1992 commented on #216
@aschmahmann came up with a good question during our discussion.

Assuming a threat model where peers can send "false duplicates"(same seqNo, different data), what do we do when we receive a false duplicate ? Should we simply drop the message, blacklist the peer or send an event to the user about this etc etc ?

[2019-11-18 05:19] aarshkshah1992 commented on #217
Adding a thought about the `WaitUntilQueuedALL` behaviour.

In the current PR, the `WaitUntilQueuedALL` fails if we drop even a single message in the event loop. I think this is the ideal behaviour we want because in this case, it is hard for the publisher to set a expected count & stop when that target is achieved because the state of the mesh/fanout could change when we are actually writing to t

[2019-11-19 19:40] vyzo opened #233 "The Evolutionary Road to Episub"
Gossipsub is the base pubsub protocol and intermediate step towards our endgame, which is the episub protocol.
Episub can be construed as a set of optimizations over vanilla gossipsub and will get the `meshsub/2.0.0` protocol ID, with backwards compatibility with vanilla gossipsub.
Instead of a bing-bang approach, we propose to evolve the implementation of gossipsub towards episub as a set of PRs

[2019-11-21 17:26] vyzo commented on #216
Drop the message and `Warn` is probably fine; but we might want to consider blacklisting in this case as well. I am just a little weary of the pubsub library blacklisting internally without user interaction.

[2019-11-21 22:27] target111 opened #235 "Create a PubSub example that demonstrates how to use this package"
Create a basic and simple example in https://github.com/libp2p/go-libp2p-examples with the best coding practices for this library so people can get a better, easier understanding without having to dig through the source code. It would be greatly appreciated, thanks!

[2019-11-21 22:29] vyzo commented on #235
Sure, that would be very useful.
Care to take a stub at it? We can guide you through.

[2019-11-21 22:50] target111 commented on #235
I could try but I'm just still learning about libp2p and also I'm not very skilled yet with go. However, after looking at some pull requests, I found [this one](https://github.com/libp2p/go-libp2p-examples/pull/85) that seems to be pretty well written. The other examples seemed a bit easier, although I believe this is because pubsub requires a larger boilerplate than a simple rendezvous chat appli

[2019-11-21 22:52] target111 commented on #235
maybe it could be simplified a little and merged?

[2019-12-02 18:41] aschmahmann opened #237 "Allow Topics to close any handles they have"
@Stebalien mentioned in https://github.com/libp2p/go-libp2p-pubsub-router/pull/37#discussion_r345971256 that the restrictions posed on closing a Topic handle shouldn't need to exist https://github.com/libp2p/go-libp2p-pubsub/blob/01b9825fbee1848751d90a8469e3f5f43bac8466/topic.go#L187

IIUC the reasoning is that since only one valid `Topic` handle can exist for a given topic that when that handler

[2019-12-02 19:12] aschmahmann commented on #217
@raulk I'm running into some problems with this in go-libp2p-pubsub-router which builds a persistent value store on top of pubsub.

I'd like to solve the "messages can be dropped silently" by having pubsub emit an event that we dropped a message.

Sounds good, although it'd be really nice if the merge function was configurable instead of just concatenating the messages.

@vyzo this seem like a rea

[2019-12-02 19:32] raulk opened #238 "Document how to enable the tracer in the README"
The tracer was merged in https://github.com/libp2p/go-libp2p-pubsub/pull/227, and the collector lives in https://github.com/libp2p/go-libp2p-pubsub-tracer.

But there are no instructions yet on how to set things up.

[2019-12-02 19:47] vyzo commented on #237
Maybe we can simply reference count the closures?

[2019-12-02 20:03] #238 closed, assigned to vyzo

[2019-12-03 15:19] raulk commented on #233
@adam-hanna this is the issue we discussed.

[2019-12-04 22:02] aschmahmann opened #241 "Enabling applications to remove/override messages in the message queue"
Discussed in #240 and #217

Some applications send messages which can render previous messages obsolete (e.g. I originally sent version 1, but now am sending version 2 of some data). In these cases it would be great if instead of the pubsub queue being backed up we could simply send less messages by not sending the obsolete messages.

Two example approaches to handle this might be:

1) Using topic

[2019-12-06 11:59] raulk commented on #241
@protolambda wanted this too

[2019-12-13 14:23] mcdee opened #246 "Protocol layer-aware pubsub"
Related to https://github.com/libp2p/go-libp2p-core/pull/99 the current gossip implementation has some issues for Prysm.

Firstly, the peers in the mesh are selected from all connected peers.  This does not take in to account the fact that some peers may be considered bad at the protocol layer.  Ideally, we would be able to inform gossipsub about the protocol layer's view of the world.  To give an

[2019-12-13 15:10] vyzo commented on #246
We are working on adding a peer scoring function to gossipsub, such that peers can be assigned some score when the mesh is full and need to prune.

Re: validation: the validator should do the necessary protocol layer validation to reject bad messages, that's part of the design. They can be asynchronous, they don't have to return at once.

Also note that the connection gating you are considering mi

[2019-12-13 15:14] vyzo commented on #246
Note that the peer scoring function can also be utilized when first constructing the mesh so that we build a good mesh to begin with.

[2019-12-13 15:27] mcdee commented on #246
Thanks for the information.  For my own understanding, if I had a score function that looked like this:

[code]

where `Connected` and `PeerScore` were our protocol-level functions, would this basically allow us to meet the requirements as follows:

  - do not use peers that are not connected at the protocol level
  - preferentially use peers that are shown to provide good and timely information a

[2019-12-13 15:42] vyzo commented on #246
The mesh should adapt organically to score changes: as peers come and go the mesh expands and contracts. The scoring will come into play when decisions to graft or prune peers need to be made.
So it should adapt to score changes as needed.

In order to deal with the delay in obtaining an initial peer score from the protocol handshake, we might have to add some mechanism to delay the construction o

[2019-12-13 16:01] vyzo commented on #246
Actually, regarding the score delay, you might simply want to delay joining your topics until you have finished the handshake and established a score.

[2019-12-16 00:46] AgeManning opened #247 "Optional Content addressed messages"
Currently message Id's are `source_id + sequence_number`. For my particular use-case (Eth 2), it would be nice if we could optionally set this ID based on the content of message, for example: `hash(message)`.

This would allow us to filter messages at the pubsub layer based on content rather than source peer.

I was thinking of adding a configuration parameter to rust-libp2p, which takes a functio

[2019-12-16 09:19] aschmahmann commented on #247
TLDR: We should do this! Sorry this post is a bit long, I figured more context was better here. My proposal is at the bottom.

@AgeManning 💯 for having content-addressed (or configurable) messageIDs. However, it'd be great to understand why you think it's necessary for your particular case, as well as to make sure we cover a number of the edge cases.

## Current State

The places messageIDs are cu

[2019-12-16 09:55] vyzo commented on #247
I am very open to having this functionality, and we can implement it quite easily.

[2019-12-16 09:57] vyzo commented on #247
@aschmahmann per topic custom message IDs will greatly complicate things, as we can have a message being published to multiple topics.
I think for eth2's usage it suffices to have a single option that applies to all topics and eschew this complexity.

The simple thing to do is to have an optional parameter specifying the ID function, as @AgeManning suggested.

[2019-12-16 10:27] aschmahmann commented on #247
If you do the simple thing and make the optional parameter global then we run into problems because go-libp2p-pubsub's Pubsub implementation is a singleton. There is no way for me to both publish using content addressed messageIDs and also rebroadcast a message to a topic that expects rebroadcasting to function.

---

@vyzo If you'd like to move ahead and use an optional parameter in PubSub that's

[2019-12-16 10:31] vyzo commented on #247
This is application specific configuration that is good for now; when we move to per-topic routers we can make the msgID a function a topic parameter.

[2019-12-16 10:33] vyzo commented on #247
Also note that we can revise the spec to allow for arbitrary message ID functions; we'll have to revise for gossipsub v1.1 anyway.

[2019-12-16 10:51] aschmahmann commented on #247
Is there an issue or ETA on that I can track?

Sure we can allow for arbitrary message ID functions in the spec, but until the per-topic routers issue is resolved these nodes will act like malfunctioning nodes when subscribed to topics where not everyone is using the same custom message ID function. If users wanted to run a single libp2p daemon on their machine to serve many applications they're n

[2019-12-16 10:56] aschmahmann opened #249 "Separating Meshsub from Gossipsub"
## Proposal

Have a topic option that can be read by Gossipsub that instead of emitting gossip sends the entire message

## Background

Gossipsub has two major improvements over Floodsub.
1) Mesh behavior
    - Gossipsub creates a mesh structure by, for each peer, defining a subset of the peers it's connected to as its "mesh peers"
    - Messages are only consistently forwarded to the mesh peers

[2019-12-16 11:43] protolambda commented on #247
See PR #248, I think the function `type MsgIdFunction func(pmsg *pb.Message) string` allows for the customizability we need, and based on `pmg.TopicIDs` you can always call different other msg ID functions. Say `MyAttestationIdFn` for the attestations topic to get content based IDs, and then `DefaultMsgIdFn` for everything else. Composition, yay :)
There are some complexities if you want different

[2019-12-16 12:20] #247 closed, assigned to nobody

[2019-12-16 12:28] vyzo commented on #249
I am not convinced it's a good idea; gossip is very much essential for a healthy mesh.

[2019-12-16 12:30] vyzo commented on #249
Let me elaborate on that a bit: the mesh might form disconnected (unlikely as it might be), and gossip can help correct such pathologies. Furthermore, the next iteration of gossipsub will act upon gossip to heal broken meshes.

[2019-12-16 13:44] aschmahmann commented on #249
@vyzo maybe I wasn't being clear. I'd still like to do the `emitGossip` step, however instead of sending a list of IHAVEs and receiving a list of IWANTs I'd just send a list of messages.

AFAIU we could still use the gossip like properties for episub improvements. This is just an optimization that saves a roundtrip for very small messages, and that would be a waste of bandwidth for large messages.

[2019-12-16 18:20] vyzo commented on #249
The messages would have to be very small for this to make sense -- smaller than the message IDs, which aren't all that big.

[2019-12-17 18:14] mcdee commented on #246
@vyzo please take a look at https://hackmd.io/@jgm/SJGg_VLCS it attempts to explain some of the issues we're seeing and suggests how a solution may be approached.  I'm afraid I'm no libp2p expert so it may be that some of these can be done already and I'm just unaware of them, in which case I'll apologise in advance.  Please let me know your thoughts on this, and let me know if you would like me t

[2019-12-19 22:10] prestonvanloon opened #250 "Who is peer.ID in Validator?"
https://github.com/libp2p/go-libp2p-pubsub/blob/7e5b02f152ae2dd8bceb897affe7ef57cb3c6b4e/validation.go#L17-L18

Based on my experimentation, it looks like peer.ID is always my peer.ID, which I found very confusing.

[2019-12-19 22:17] prestonvanloon commented on #250
To add a bit more context, I had a validator that would reject messages from myself. As a result, my peers were not receiving my messages. I am not sure if this validation is supposed to run on outgoing messages.

[2019-12-19 23:37] vyzo commented on #250
The validator runs in all messages, including the ones you publish; the `peer.ID` in the signature is the peer the message was received from.

[2019-12-19 23:54] prestonvanloon commented on #250
In our use case, this is wasteful. Is there any way to disable that functionality?
We only want to validate incoming messages.

[2019-12-20 01:18] aschmahmann commented on #250
@prestonvanloon you could get around this by adding a couple of lines at the start of your validator function to just check if the peerID matches your own and if so return true.

[2019-12-20 01:19] prestonvanloon commented on #250
That’ll work, thank you!

[2020-01-02 11:20] dependabot-preview[bot] opened #252 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/libp2p/update-logs/19369991).

[2020-01-02 16:42] #252 closed, assigned to nobody

[2020-01-02 19:23] Stebalien commented on #237
As we decided in https://github.com/libp2p/go-libp2p-pubsub/issues/198, topic handles are now _owned_ by a single service. There shouldn't be any need to reference count unless I'm missing something.

[2020-01-13 23:39] mcdee commented on #246
@vyzo @Stebalien any thoughts on the document at https://hackmd.io/@jgm/SJGg_VLCS ?  Can these features be achieved with the current codebase, and if not is this something that can be provided with libp2p?

[2020-01-16 03:25] bonedaddy opened #253 "Topic Management Strategies, Implementation, And Questions"
# Topic Management Strategies And Implementation

One of the recent changes to this library (which I personally like, as it has resulted in much better message throughput in benchmarks) makes it so that calling `Join` on a topic more than once results in an error, which initially makes having multiple goroutines access the same topic somewhat problematic because `Join` doesn't internally store the

[2020-01-16 16:14] aschmahmann commented on #253
Thanks for bringing this up. I suspect that there may be other people who would also like some sort of management layer on top of pubsub to deal with Topics. Overall I'm not sure if there exists a one size fits all solution for Topic management so AFAIU the question is basically where should this code live and what's reasonable behavior to expect.

An example where topic management could be pretty

[2020-01-16 21:30] bonedaddy commented on #253
No problem. You make a good point the solution to this will likely vary depending on your specific needs.

Well for this wouldn't it make sense to have a global pubsub system that prevents topics from being closed, and relying on internal server behavior to close out topics when no one is using them? That way any number of users may have access to a topic without worrying about one of them termina

[2020-01-17 08:57] mcdee commented on #246
To give an example of why this is becoming a necessary feature, here is a 1-second chunk of network logs from prysm:

[code]

This is on a relatively small (~100-node) network.  Being able to shut these connections down earlier, or even better not opening them in the first place, would help us out.

Also CCing @raulk for input.

[2020-01-17 12:37] aschmahmann commented on #246
@mcdee it looks like your immediate problem is dealing with bad nodes. Could you use go-libp2p-pubsub's blacklist functionality here to blacklist nodes that fail at the application level?

This won't help when trying to figure out the "optimal" peer to connect to, but it may help in the meanwhile.

A couple caveats:
1) If peers can switch from being bad to good then go-libp2p-pubsub would need an

[2020-01-17 13:17] mcdee commented on #246
@aschmahmann thank you for the suggestion.  Unfortunately it appears that blacklsting the peer in pubsub doesn't stop it from continuing to attempt to talk to us; we continue to see the peer connecting to us and we have to keep disconnecting it.

From what I understand, this would reduce the pubsub messages we obtain from these peers but then we would need an `UnblacklistPeer()` as we decay bad pe

[2020-01-17 14:29] aschmahmann commented on #246
@mcdee yes if you want peers to decay back to being acceptable then you would need something like `UnblacklistPeer`.

I don't know of any subsystems that call `BlacklistPeer`, but I wouldn't count on that. Also, I'm not sure why you would need a custom Blacklist implementation when you could have your application just use events to call Blacklist (and Unblacklist) Peer. Unfortunately, IIUC creatin

[2020-01-21 16:46] iulianpascalau opened #256 "Question regarding gossipsub"
Hello

I am wondering why in a setup of 7 nodes (connected in a complete graph fashion) sometimes it happens that a peer will get the message delivered after about 1 second (sometimes even more) in respect to the other peers. The setup we are using has multiple topics, uses message signing and gossip sub as the pubsub router. The message payload is around 2kB large. We are also using topic validat

[2020-01-30 12:33] raulk commented on #256
@iulianpascalau thanks for the report! Would be useful if you could point us to the code where you set up gossipsub and the validators. What's the message throughput you're subjecting the system to?

[2020-01-30 13:01] iulianpascalau commented on #256
Ok, working on a lightweight wrapper over libp2p libs. The above comment was done on a system in which only one out of 7 peers broadcast 2 messages (one about 2KB and one under 1KB) delayed by a 100us and the other, upon receiving those 2 messages, broadcast each a message of under 1KB size. (in other words, the first peer broadcast a block header + block body and the others sent their signature s

[2020-01-30 13:01] iulianpascalau commented on #256
Now, further investigating the older versions, still found out the same problem depicted in the first comment: some peers got the message after a long period of time (order of seconds) after the broadcast event.
Modifying a little bit the pubsub implementation so that each message will have a trace information area in which all traversing peers that handled the specified message would have include

[2020-01-30 13:02] iulianpascalau commented on #256
This is how we used the old version
instantiation:
[code]
set up validators:
[code]

[2020-01-30 13:04] iulianpascalau commented on #256
And how we used the new version
instantiation:
[code]
set up validators:
[code]

[2020-01-30 13:19] iulianpascalau commented on #256
Sorry for the long messages.

[2020-01-30 13:37] vyzo commented on #256
Can you try with the PX PR? There might be some topology issues causing messages to only propagate by gossip; https://github.com/libp2p/go-libp2p-pubsub/pull/234

[2020-01-30 14:48] iulianpascalau commented on #256
Will try. Thanks! :+1:

[2020-01-31 20:11] iulianpascalau commented on #256
We have tested the PX PR and found out that actually performed worse than the release tag v0.2.5. Worse meaning higher latencies when sending payloads between 300000-650000 bytes on the 384 nodes. The messages were sent from the same peer with a time duration of about 1 second between each send (100 sends). Average latencies were between 462ms - 2.49s with highs between 934ms - 4s. v0.2.5 on the s

[2020-01-31 20:11] iulianpascalau commented on #256
We have conducted some more tests in which we employed the afore mentioned wrapper. One of them was supposed to choose 100 (random) peers out of those 384 and each of them supposed to broadcast a small message (around 300-600 bytes). We expected that the messages, after a while, would have reached all other peers but we soon found out the test had failed. Some messages reached as low as 3 peers, a

[2020-01-31 20:11] iulianpascalau commented on #256
And now comes the "not-so-funny part". We tested a setup in an integration test (ran on a single machine, a plain old golang test) that created 200 wrapper instances (production wrappers) and connect them in between using kad-dht discovery mechanism. After that, the first 100 nodes broadcast a single message. After a couple of seconds each peer (out of the 200) got the 100 messages. We kind of exp

[2020-02-01 10:47] vyzo commented on #256
I am a little confused by all this.

[2020-02-01 10:48] vyzo commented on #256
Also, a single message is not necessarily representative, as there may be convergences delays.

[2020-02-01 14:28] vyzo commented on #256
As a first step towards diagnosing, can you turn off the connection manager? Let them have as many connections as they want, just to make sure there is no interference.

[2020-02-01 14:28] raulk commented on #256
@vyzo you started working on a testground test for peer exchange. Not sure what the status of that is. Do you have any reference numbers you can share from actual experiments?

[2020-02-04 07:14] iulianpascalau commented on #256
Ok, short update, it appeared that the problem in which we reported that messages are being dropped randomly is not an issue (it was the application that used our wrappers that caused false reports). The messages are being broadcast to all peers even in the presence of high latencies or misconfigured pubsub implementation (small output message queue size).
The only thing remaining here is the prob

[2020-02-04 12:46] vyzo commented on #256
Yeah, that 1s delay is indicative of gossip transmission.

[2020-02-04 13:13] iulianpascalau commented on #256
Ok great, will focus on our protocol then. :)

[2020-03-04 04:55] wenchaopeng opened #264 "disable encryption"
what do I need to do to unencrypt the message，I look at the source code, there should be no place to set，or I missed it
the source code is as follows：

[code]

[2020-03-04 05:28] Stebalien commented on #264
That code is out of date and should probably be removed at this point. Messages are encrypted at the transport layer, not within pubsub itself.

[2020-03-04 05:38] wenchaopeng commented on #264
OK,Let me see exactly where，during the process of using libp2p, I found that the CPU usage is very high, most of which is rsa encryption and decryption.

![image](https://user-images.githubusercontent.com/33342928/75848530-6f254f00-5e1d-11ea-88a8-b6b7454511c2.png)

[2020-03-04 05:48] wenchaopeng commented on #264
sorry，I didn't find where to set the encrypted transmission. Could you give me some tips

[2020-03-04 09:18] wenchaopeng commented on #264
has been resolved, thanks for your help

[2020-03-04 09:18] #264 closed, assigned to nobody

[2020-03-24 12:33] raulk opened #269 "follow-ups from prune peer exchange"
Follow-ups from #234

- [ ] More test coverage; particularly the topic backoff seems untested, and we'd benefit from testing peer exchange under other topologies, as well as concurrent prune off multiple topics.
- [ ] A more efficient backoff data structure; see commentary in that PR.
- [ ] Migrate to https://godoc.org/github.com/libp2p/go-libp2p-core/record#ConsumeTypedEnvelope for better alloc d

[2020-03-25 08:32] daviddias commented on #159
Question answered, @nairan let us know if you have any follow up questions.

[2020-03-25 08:32] #159 closed, assigned to nobody

[2020-03-25 08:33] daviddias commented on #142
@nikkolasg this is a nice example and something that others have requested (https://github.com/libp2p/go-libp2p-pubsub/issues/160 & https://github.com/libp2p/go-libp2p-pubsub/issues/235), mind if I take it to add it to the repo?

[2020-03-25 08:35] #256 closed, assigned to nobody

[2020-03-25 08:41] daviddias commented on #172
@yutongp the latest version on master includes #176 already. When you have a chance to try it out, can you let us know? Meanwhile closing this issue.

[2020-03-25 08:41] #172 closed, assigned to nobody

[2020-03-25 08:44] #219 closed, assigned to nobody

[2020-03-25 08:46] #250 closed, assigned to nobody

[2020-03-25 08:49] daviddias commented on #160
Follow on https://github.com/libp2p/go-libp2p-pubsub/issues/235

[2020-03-25 08:49] #160 closed, assigned to nobody

[2020-03-25 10:22] #128 closed, assigned to vyzo

[2020-03-25 10:26] #191 closed, assigned to nobody

[2020-03-25 10:26] #107 closed, assigned to nobody

[2020-03-25 10:27] vyzo commented on #96
not a pubsub bug; midials lower in the stack.

[2020-03-25 10:30] vyzo commented on #246
@mcdee take a look at the peer score integration in #263.
It allows for an application level score, which if negative will remove the peers from the mesh and only send gossip to them (if the score is not too low, see `gossipThreshold`).

[2020-03-25 10:30] #249 closed, assigned to nobody

[2020-03-25 11:11] mcdee commented on #246
@vyzo thank you for the link (and, of course, the PR).

From a quick read through it appears that I pass a `WithPeerScore()` that contains the global thresholds, and a callback that gives me a peer ID and expects a score back.  A few questions:

  - it appears that there are a number of components to the final score.  Is there some way that we can be sure that a peer can be totally ignored, or is

[2020-03-25 11:17] vyzo commented on #246
take a look at the spec in https://github.com/libp2p/specs/blob/master/pubsub/gossipsub/gossipsub-v1.1.md

1. If the score of a peer drops below the `graylistThreshold`, then it will be totally ignored.
2. It is computed live every time it is needed , so no long term impact
3. It depends on how low the score is; there are 3 thresholds, as explained in the spec. Basically, if it drops below `grayli

[2020-03-25 11:33] daviddias commented on #128
Hi @bruinxs! We did some spring cleanup in the repo issues. Let us know if the problem still persists and we will reopen (btw, there is a ton of updates on master that you might fancy checking out!)

[2020-03-25 19:44] Stebalien commented on #96
This is a test failure in pubsub and is therefore a bug in the pubsub tests.

[2020-04-01 11:29] raulk commented on #246
@mcdee Gossipsub scoring is scoped to the gossipsub level, and is used to drive mesh peer selection, i.e. which peers do I select to be part of my view of a topic mesh.

I reckon your requirement of blacklisting a peer is beyond gossipsub. Once you discover a badly behaved peer, you want to blacklist them universally within libp2p.

I think connection gating is what you're looking for: https://git

[2020-04-01 11:33] mcdee commented on #246
I made a comment in the issue you mentioned, copied here:

Is this something that is going to be part of connection gating?

[2020-04-01 12:19] raulk commented on #246
@mcdee I responded in libp2p/go-libp2p-core#99, to keep the convo in place. Thanks for raising here, though! I had missed your comment.

[2020-04-06 09:18] daviddias opened #277 "Alan's (first time) review on go-libp2p-pubsub"
Hi everyone! I've had asked @alanshaw to review the go-libp2p-pubsub repo and respective hardening PR https://github.com/libp2p/go-libp2p-pubsub/pull/263.

My initial goal was for @alanshaw to apply is magic and make the repo and respective codebase really welcoming, but given that some code is still in flux, we dialed down the goal of the first review to be just reviewing and share observations,

[2020-04-06 14:56] aschmahmann commented on #277
Done is used to indicate the the function being run in the eval loop is completed. Sending the func() into the eval loop does not mean it's completed so in order for the `EventHandler()` function to be blocking it needs a way to wait for the internal func() to complete, hence using the done channel

Three reasons that I or @vyzo could go into more in depth:
1) `pubsub.Publish` and `pubsub.Subscrib

[2020-04-13 18:52] vyzo opened #281 "Unit /Regression tests for gossipsub v1.1"
With the hardening work in #263 complete, we are ready to merge into master based on extensive testing in testground.
On the same time we lack unit tests to catch _regressions_.
This issue is here to track progress towards this goal.

[2020-04-13 20:05] dirkmc commented on #281
Tests to add:
- [x] IWANT spam
  Peers periodically publish a list of message IDs still in their cache via gossip.  It is possible to repeatedly request the messages, causing the target to allocate CPU and bandwidth for no productive reason.
- [x] GRAFT spam
  The attacker sends GRAFTs for unknown/non-existent topics to peers in order to overload them and potentially make them send PRUNE messages

[2020-04-20 13:57] vyzo opened #285 "Track in-flight IWANT requests"
This came up in #284.

It is desirable to track in-flight IWANT requests, so that:
- we don't repeatedly ask multiple peers for the same message when we are poorly connected to the mesh
- we can track spammers who send us bogus message IDs and never follow up on the IWANT request in order to execute a distributed IHAVE flood attack.

Complexities, as enumerated by @raulk:
- What if the peer we ask

[2020-04-20 14:03] vyzo opened #286 "Notify pruned peers of the backoff period"
When we prune peers we have a backoff period, during which we won't re-GRAFT the pruned peer.
Furthermore, with #284 we have added GRAFT flood protections so that peers who send us GRAFTs too fast get penalized for quite a while.
From all this, it has become quite obvious that we should send the backoff period back to the pruned peer so that it knows when it's safe for it to re-attempt a GRAFT.
Th

[2020-04-20 14:15] dirkmc commented on #286
Currently IIUC we extend the backoff each time a peer tries to GRAFT too early.
We may want to consider not extending the backoff period if a peer asks to GRAFT too soon (unless they do it too frequently, which we are now checking for)

[2020-04-20 14:31] vyzo commented on #286
I think we do want the behaviour of extending the backoff period when pruning for two reasons:
- we make sure we don't try to GRAFT while the other side is still backing us off
- we stop GRAFT floods dead in their tracks; basically a selfish or malicious peer trying to GRAFT its way in won't have any luck getting in.

[2020-04-20 22:03] dirkmc opened #287 "Improve test coverage"
This issue tracks improvements in test coverage for
- [x] score.go (started at 32%)
- [x] score_params.go (started at 12%)
- [x] gossipsub.go (started at 63%)
- [x] trace.go (started at 58%)
- [x] tracer.go (started at 0%)
- [x] pubsub.go (started at 73%)
- [x] validation.go (started at 57%)
- [x] randomsub.go (started at 0%)

[2020-04-21 06:15] vyzo commented on #281
we have more tests to write!

[2020-04-21 06:17] vyzo commented on #281
ah, suerpseded by #287

[2020-04-21 06:17] #281 closed, assigned to vyzo, yusefnapora

[2020-04-21 14:41] lukasz-zimnoch opened #292 "Question about pubsub message relaying"
Looking at `handleIncomingRPC` method defined in `pubsub.go` we can see a part which forwards received messages if our `pubsub` instance has an existing subscription to the given message topic:

[code]

If our pubsub doesn't have this subscription, we are just ignoring the current message. Also, `HandleRPC` is a no-op in floodsub implementation so we don't do anything with the `rpc` later.

The qu

[2020-04-21 15:06] vyzo commented on #292
There is no reason to pass messages if we are not subscribing, that's a DoS waiting to happen.
We are considering adding a relay-only option to pubsub that would enable relaying without subscription.

[2020-04-21 15:52] pdyraga commented on #292
Is there any PR or issue for that one where we could learn more and potentially contribute?

Unless I misunderstood, I think this is what @lukasz-zimnoch is asking about. If there is a peer that is not subscribed to the given topic and this peer is the only point currently connecting two other peers subscribed to that topic, we could have a relay-only somewhere in pubsub allowing to pass-thru mess

[2020-04-21 16:22] vyzo commented on #292
Yes, issue #28 has been open for a while.

[2020-04-23 19:05] vyzo commented on #287
We are a little over 82% now, which was the target (80%) for the big test writing push.
We have achieved satisfactory coverage, so I will close the issue.

Great job fellas!

[2020-04-23 19:05] #287 closed, assigned to vyzo, dirkmc, yusefnapora

[2020-04-24 12:53] lukasz-zimnoch commented on #292
@vyzo I see there was already a contribution https://github.com/libp2p/go-libp2p-pubsub/pull/229 but has been closed. We are interested in contributing here but we need to know more. Why #229 didn't pass and what is a must for a complete solution here? Could you provide those details?

[2020-04-24 13:25] pdyraga commented on #292
@lukasz-zimnoch @vyzo What if we close this issue as it kinda duplicates #28 and we'll continue the discussion there?

[2020-04-24 14:42] vyzo commented on #292
I wanted to avoid distractions while the gossipsub v1.1 work was in progress; we can certainly reopen that pr.

[2020-04-24 14:51] vyzo commented on #292
Actually there were a couple of things wrong with that pr, if you are interested in opening a new one it should use a reference counter and avoid the use of a relay object -- just the topic handle will do.

edit: the issue is that it conflates subscriptions with relaying and only allows it to happen once.

[2020-04-24 17:18] vyzo opened #306 "Implement decaying connection manager tags for first time publishers"
This will ensure that recent publishers and gossipers remain connected even at the face of a connection flood and subsequent connection manager action.

Requirements:
- [ ] https://github.com/libp2p/go-libp2p-core/pull/104
- [ ] https://github.com/libp2p/go-libp2p-connmgr/pull/61

[2020-04-24 17:21] vyzo opened #307 "Implement RPC fragmentation for packed messages"
We pack messages in a single RPC in response to IWANT requests.
This may pack too many or big(ish) messages and exceed the max message size limit, which would break the stream to the requester.
We need to fragment large packings of messages into multiple RPCs.
In fact we should probably fragment even it exceeds just a threshold, so that we minimize latency for the message pack.

[2020-04-24 17:22] vyzo opened #308 "Gossipsub v1.1: Release Planning"
With the merging of #263 and the big test coverage push in #287, we can begin planning the next release, which will be the launch of gossipsub v1.1.

The following issues should be addressed for release:
- [x] #285
- [x] #286
- [x] #306
- [x] #307

[2020-04-24 17:24] whyrusleeping commented on #285
This kinda just feels like bitswap

[2020-04-24 18:19] vyzo commented on #220
Duplicate consumption can be implemented by the application through a custom tracer, just like the score subsystem plugs into the tracer.
The validator cache, which is complex, is then unecessary.

[2020-04-24 18:26] vyzo commented on #285
yeah, but in real-time.

[2020-04-24 18:28] vyzo commented on #285
Maybe one day bitswap can switch to gossipsub for supporting block discovery instead of using the dht.
It would be much more efficient and it will avoid taxing the provider records system.
One idea would be to find the root CID through the dht, using provider records, and then use a pubsub topic for handling block discovery.
cc @Stebalien

[2020-04-24 18:28] vyzo commented on #285
cc @dirkmc as well.

[2020-04-24 18:31] vyzo commented on #292
I think we can indeed close this issue and continue discussion in #28.

[2020-04-24 18:31] #292 closed, assigned to nobody

[2020-04-27 14:01] dirkmc commented on #285
In Bitswap nodes remember which blocks their peers want for the lifetime of the connection. That probably wouldn't be necessary for gossipsub so it should be possible to have lower memory requirements.

[2020-05-01 20:12] aschmahmann commented on #285
This was proposed in January, it's a pretty reasonable idea. However, there's some tricky work to be done in figuring out if/how we'd want IPFS to switch from a random access pattern to one that's slightly different (e.g. if you only provide/find the root then people can't string arbitrary blocks together into a new file and get all the providers of those blocks to help out, but it seriously helps

[2020-05-03 06:53] vyzo commented on #285
So a solution for tracking IWANTs for non-follow up purposes without using too much memory, is to random sample the set of IWANTs and track only a small subset of them.
This will allow us to respond to a distributed IHAVE flood attack without blowing the memory.
It will not help with duplicate IWANTs, but that's less of a problem and less pressing to solve.

[2020-05-05 17:38] travisperson opened #321 "Remove deprecated Warning/Warningf log calls"
Both `Warning` and `Warningf` are deprecated in `go-log@v1.0.4` and removed in the newer v2. The current use of these deprecated methods impacts the ability to get proper caller information. Logs produced with these methods result in one of two callers inside of the go-log package.

Eg: `go-log@v1.0.4/log.go:180`, or `go-log@v1.0.4/log.go:175`.

This makes it more cumbersome to filter through logs

[2020-05-05 18:15] vyzo commented on #321
Done in #322.

[2020-05-05 18:15] #321 closed, assigned to nobody

[2020-05-06 16:01] #307 closed, assigned to vyzo, yusefnapora

[2020-05-06 22:45] #286 closed, assigned to vyzo

[2020-05-08 13:45] #285 closed, assigned to vyzo

[2020-05-12 15:58] hugomrdias opened #331 "with gossipsub subscribers may not receive the first couple of messages"
While trying to sync js repos with go-ipfs 0.5.x i notice pubsub tests were failing for js-ipfs-http-client the specific test works like this:

1. peer1 swarm connects to peer2
2. peer1 and peer2 subscribe to topicA
3. peer2 runs ipfs.pubsub.peers() multiple times until it sees peer1
4. peer2 publishes a msg to the topic
5. test asserts that both peers receive the msg

So this test started to fail

[2020-05-12 19:38] Stebalien opened #332 "On-demand pubsub"
Currently, pubsub will startup when initialized. Unfortunately, this means:

* Running three goroutines per peer (at least?).
* Processing subscriptions from peers.

This is true even if pubsub is enabled but not in-use.

In order to enable pubsub by default in go-ipfs, we need to find some way for pubsub to not take up a bunch of resources when not in-use.

The MVP solution is on-demand startup.

[2020-05-12 23:07] Stebalien commented on #331
This is probably because "peers" is all peers we know that speak the topic while we _really_ care about "grafted peers".

There's a new publish option `WithReadyness(MinTopicSize(1))` that would allow us to require at least one peer before we let the publish succeed. However, that will _stall_ if we're offline.

[2020-05-16 00:38] fxfactorial opened #338 "remove panic inducing depencency"
I use:

[code]

and use the `pubsub.BlacklistPeer(peer)` but the upstream dep on `whyrusleeping` imo is bad because banning peers more than once, the same peer, causes a panic on add, so to use it right, I'd need to hold the ref to the blacklist, call contained before calling add, kinda too much of a hassle to accomdate this API.

[code]

from timecache.go

Please implement blacklist without a pan

[2020-05-16 12:50] vyzo commented on #338
This is actually very easy to fix: just add a `Has` check in the implementation of the timecache backed blacklist.
Care for a patch?

[2020-05-16 12:51] vyzo commented on #338
Or we might try fixing the upstream library directly to support multiple puts.

[2020-05-16 13:06] fxfactorial commented on #338
I think fix upstream is better but can it be done quick ? I don’t know that upstream dep , how quick it can be updated

[2020-05-16 13:39] vyzo commented on #338
fixing upstream a little more complicated I think.

[2020-05-16 13:53] fxfactorial commented on #338
Right then we’re back at my op about soln and it’s only diff if I put it app layer or in your layer at libp2p, sounds like latter? If so , then ya , I’ll open PR

[2020-05-16 14:05] vyzo commented on #338
It is better if we put it in the pubsub library; a pr would be very welcome!

[2020-05-16 14:15] fxfactorial commented on #338
https://github.com/libp2p/go-libp2p-pubsub/pull/340

[2020-05-16 16:58] #338 closed, assigned to nobody

[2020-05-19 16:26] #306 closed, assigned to yusefnapora

[2020-05-19 16:28] vyzo commented on #308
All the issues have been completed; we are ready for release.

[2020-05-19 16:31] vyzo commented on #331
Yes, it will take a heartbeat for the new peer to get grafted, which is by default 1s.

[2020-05-19 16:34] #308 closed, assigned to nobody

[2020-05-19 19:32] hugomrdias commented on #331
Is changing pubsub.peers() to grafted an option?

[2020-05-19 19:37] vyzo commented on #331
Well, `ListPeers` returns all the known peers that speak the same pubsub protocol(s) as us.
It would be a breaking change in behavior to only return peers in the mesh -- perhaps we can add a new method that has the desired behavior.

[2020-05-21 09:38] hugomrdias commented on #331
@vyzo that sounds great! @Stebalien is this something we can bubble up to go-ipfs ? maybe in a arg like `ipfs pubsub peers --grafted`

[2020-05-22 02:00] Stebalien commented on #331
We shouldn't need to wait.

[2020-05-22 02:12] Stebalien commented on #331
This needs to be fixed the right way: https://github.com/ipfs/go-ipfs/issues/7350

[2020-05-22 06:46] hugomrdias commented on #331
where can i follow this issue? the one you mentioned is already closed does that mean its already in master ?

[2020-05-22 17:05] vyzo commented on #331
Actually, the delay has been fixed in v0.3.0:
https://github.com/libp2p/go-libp2p-pubsub/blob/master/gossipsub.go#L952

So when we join, we immediately graft some peers.

[2020-05-22 17:11] Stebalien commented on #331
@hugomrdias https://github.com/ipfs/go-ipfs/issues/6621

[2020-05-27 14:07] iulianpascalau opened #346 "Feature request for gossipsub v1.1: delayed adding of topic score parameters"
Wondering if this is feasible to be implemented.
At the current time, we have to know from the start the topic list in order to use the peer scoring feature. This will bring more complexity in a system that will have a topic list that changes in time.
Thanks

[2020-05-27 17:26] vyzo commented on #346
Yes indeed, this would be very useful -- we plan to add an API for setting topic score parameters (and generally updating the score parameters) dynamically.

[2020-05-27 18:18] pocockn opened #347 "pubsub peer discovery when running docker containers"
I followed the pubsub example that uses the mdns peer discovery. This all works perfectly when running my go code in different terminal windows.

I'm a bit confused as to if this approach would work when I go to deploy my code within multiple docker containers. For example, if I had one container publishing messages and then say 5 containers subscribed to those messages. I'm assuming mdns isn't ap

[2020-05-27 20:02] yusefnapora commented on #347
Hi, glad you found the example! It may be possible to get mDNS working with docker, but I agree it's not a great fit :)

For a real application you'd probably want to use a different peer discovery mechanism. It's possible to use the [kad DHT](https://github.com/libp2p/go-libp2p-kad-dht) as a peer discovery service, for example by [`Provide`-ing](https://godoc.org/github.com/libp2p/go-libp2p-kad-d

[2020-05-27 21:34] pocockn commented on #347
@yusefnapora  Thank you for the detailed reply, I appreciate the effort! The kad DHT approach sounds interesting, I don't suppose there's an example for that is there? I'm trying to piece together how everything works with libp2p and struggling a bit!

Would it be similar to this approach?

https://github.com/libp2p/go-libp2p-examples/blob/master/chat-with-rendezvous/chat.go

Where it advertises a

[2020-05-29 09:07] achingbrain commented on #331
This is biting us in the interop tests too, where the delay needs to be longer than 2s, more like ~10s~ ~20s~.  Actually who knows, it seems to vary wildly.

As it's fixed in go-libp2p-pubsub master will the fix ship in go-IPFS 0.6.x?

[2020-05-29 09:52] achingbrain commented on #331
It looks like these interop tests are failing with go-IPFS master, even though the build step says it succeeded: https://app.circleci.com/pipelines/github/ipfs/go-ipfs/2908/workflows/0b7a5ebf-cb6c-4960-b19e-fd4c1b61983c/jobs/34278

[2020-05-29 11:45] nisdas commented on #346
Thats great to hear @vyzo ,is there an ETA for when you expect dynamic topic subscriptions to be possible for topic score parameters ? With how we use gossipsub currently in v1.0, there is a constant churn of subscribed topics, so using peer scoring in v1.1 isn't possible in the current form.

[2020-05-29 14:04] vyzo commented on #346
Reasonably soon, I will try to get to it the next week or two.

[2020-05-29 16:30] achingbrain commented on #331
Would it please be possible to have some way of getting the list of peers who are likely to receive a pubsub message for a given topic?  That would unblock us and fix the interop tests which can then be made to fail the go-ipfs build if compatibility is broken again.

Getting a list of peers for a topic when those peers may not receive a message sent to the topic because they aren't grafted is not

[2020-05-29 17:27] vyzo commented on #331
Actually, if you enable flood publishing in gsv1.1 (`WithFloodPublish` option), all the direct peers  and not just the ones in the mesh will receive any messages you publish (modulo dropped messages of course).

We can still add a `ListMeshPeers` (or some other better name) interface if you can't or don't want to enable flood publishing.

[2020-05-29 18:02] achingbrain commented on #331
I think if you provide a method that claims to return the peers subscribed to a topic, then send a message to that topic and those peers do not receive the message, the user is likely to encounter significant surprise.

[2020-05-29 19:23] vyzo commented on #331
Yes, that's true -- we'll have to update if we add a different interface. But I really do recommend enabling flood publishing, it's a security feature of the protocol.

[2020-05-29 22:44] Stebalien commented on #331
Flood publishing for the first hop sounds reasonable.

[2020-05-29 23:16] Stebalien commented on #331
https://github.com/ipfs/go-ipfs/pull/7394

:roll_eyes: https://github.com/ipfs/go-ipfs/pull/7395

[2020-06-11 14:38] iulianpascalau opened #349 "Question: is pubsub discovery enabled by default (or some parts of it)"
I know it shouldn't have been enabled as the only option enabled is:
[code]
The question was raised as I saw in one of my tests employing 8 hosts with attached pubsubs instances that where connected manually: x connects with y and z, z with a and b and so on. After about 14 seconds in my test, I saw that the connections changed (some connections appeared between peers that were not connected manua

[2020-06-11 15:03] vyzo commented on #349
No, discovery (or peer exchange) are _not_ enabled by default. Pubsub shouldn't be opening any connections on its own with no options.

[2020-06-11 16:22] iulianpascalau commented on #349
Will make a new clean test for this, and come up with the results here. Thanks.

[2020-06-11 18:05] Stebalien opened #350 "Reduce memory usage for receive buffers"
We don't need to keep around large receive buffers. Instead, we can use msgio's message reader to:

1. Read the message length with a small buffer.
2. Get a larger buffer from the buffer pool to read the rest of the message.
3. Put the larger buffer back into the pool.

See https://github.com/libp2p/go-libp2p-kad-dht/blob/c245d836ab82922314dcbc364b3763d114938aad/dht_net.go#L76-L116 for how we do t

[2020-06-11 19:15] Stebalien opened #351 "Limit the number of inbound streams"
Currently, peers can open as many inbound streams as they want.

[2020-06-11 20:31] iulianpascalau commented on #349
Successfully reproduced the problem. It appears it is related with the subscription canceling and topic closing. This is the minimal piece of code I can get to reproduce the problem (just uncomment the 2 lines right after the TODO)
[code]

[2020-06-11 20:42] iulianpascalau commented on #152
We found a work-around for this problem: instead of sending a large number of small messages we created a sort of accumulator that gathers around 256k of data and send one such large message. It proved to be a very good solution that works well between multiple nodes across the globe. the time.Sleep value between publishing a new message is, in our case, 10 micro seconds.

[2020-06-11 21:26] vyzo commented on #349
that smells like a bug; @aschmahmann can you take a look at this?

[2020-06-12 08:37] vyzo commented on #351
Well, it's not a correctness problem, but indeed a malicious peer could cause us to allocate an unlimited number of streams so it is a bug.
We can add a check in the stream handler that goes through the open streams in the connection and closes it if there is already an open one.

[2020-06-12 15:08] Stebalien commented on #351
We can't _quite_ do this, unfortunately, as stream closing is async (the other side might think the stream is closed already). We could try killing the old stream, but that would also be racy. Maybe wait for either the old stream to die, or for some timeout, and if we hit the timeout, close the new stream? Also maybe disconnect from peers that flood us with new streams?

[2020-06-12 17:11] vyzo commented on #351
I still think we actually _can_ do it. There is nothing in the protocol that requires more than two streams and we use a single stream created at connection time.
Granted, it might interfere with stop/start logic, but that would be a breaking change that is hard to implement anyway.

TL;DR: I think we should just drop all the extra streams.

[2020-06-12 17:25] Stebalien commented on #351
We really can't.

1. Starting with a single connection.
2. Peer A opens a stream, peer B receives it.
3. Peer A sees the connection die.
4. Peer A creates a new connection.
5. Peer B sees both connections (hasn't yet seen the first die).
6. Peer A opens a new stream, peer B receives it and kills it.
7. Peer B finally sees the original connection die, and the original stream dies.

Now there are no

[2020-06-12 17:28] vyzo commented on #351
I meant looking at the number of streams within the connection. The new connection shouldn't be affected by the old streams.

[2020-06-12 18:36] Stebalien commented on #351
Sure, but there are likely many reasons we could temporarily end up with multiple streams. For example, if we implement #332, we may open a stream, close it, then open a new one. The other side may see the new stream before it sees the old one close.

Basically, we cannot rely on the ordering of events across the network, except within a single stream.

[2020-06-12 18:40] vyzo commented on #351
I think that #332 is kind of hard to implement without breaking changes anyway.

[2020-06-12 18:44] Stebalien commented on #351
Hm. Yes, we'd need to be able to react to protocol change events like we now do in the DHT.

[2020-06-13 03:05] chiro-hiro commented on #351
I think peer B able to send a PING message to check the stream, isn't it?

[2020-06-15 06:03] aschmahmann commented on #349
@vyzo I'm not really sure how discovery could even apply here since there's no discovery mechanism even constructed (i.e. there's no DHT, no rendezvous server, etc.).

I'm not up to speed with how peer exchange works in gossipsub, but I would suspect that since  `doPX=true` is passed upon performing a prune (see below) that when we leave the mesh we send a message saying "hey I'm leaving, but try

[2020-06-15 06:40] vyzo commented on #349
Hrm, that's a bug, it should set it to the router's `doPX` variable; it only happens on leave.

[2020-06-15 06:49] vyzo commented on #349
fix in #353.

[2020-06-15 07:30] #349 closed, assigned to nobody

[2020-06-15 19:47] Stebalien commented on #351
In theory, yes. But the pubsub protocol would need to support a PING protocol for that to work. Even then, we'd still have to wait for a timeout to determine if the stream is actually live or dead. Given that, it's simpler to just wait the timeout, then cut one of the streams if both still appear to be live.

Honestly, thinking through this, I think we can just make a rule where:

1. If the remote

[2020-06-15 20:51] vyzo commented on #351
I think we are overthinking this; if the remote closes the stream we currently do nothing.
If we want to allow a retry, then we can allow up to two concurrent stream and force reset the third attempt.

[2020-07-11 16:37] huiscool opened #357 "Cannot find remote peer if pubsub is initialized after connection established"
Hi, I initialize a pubsub with a pre-connected host, and I find that pubsub cannot find the remote peer on a established connection, even if the remote peer also has a pubsub. The network.notifiee only tells which new peer is incoming, but it doesn't tell the connected peers. So how can I deal with this? Thanks!

[2020-07-12 09:33] vyzo commented on #357
Yes indeed, this is the case and a problem. What we could do is scan the active connections on initialization and check whether already connected peers support one of our pubsub protocols.

[2020-07-15 13:21] lthibault opened #358 "pubsub.Topic should satisfy fmt.Stringer"
Due to the requirement of maintaining a single `*pubsub.Topic` handle per pubsub topic, it is often helpful to identify the topic to which a given handle belongs.

Common solutions include:

- `map[string]*topic.Topic`
- Defining a local topic handle that embeds `*topic.Topic`, and exposes the topic string via a `String() string` method

Seeing as how `*topic.Topic` already contains an unexported

[2020-07-24 12:57] rklaehn opened #361 "go-ipfs gossipsub produces invalid protobuf messages"
I am trying a rust-gossipsub based program to work with go-ipfs. I was having some strange intermittent problems.

After 3 days I nailed it down to this: go-ipfs under some circumstances produces protobuf messages that do not conform to the protobuf format used in go-ipfs.

The gossipsub protobuf has message ids as strings since a long time. See e.g. https://github.com/libp2p/go-libp2p-pubsub/blob

[2020-07-24 12:59] rklaehn commented on #361
For reference, here is the gossipsub proto used in rust-gossipsub master. I can get the whole thing to work by changing messageid to bytes, but I would rather not...

https://github.com/libp2p/rust-libp2p/blob/master/protocols/gossipsub/src/rpc.proto

[2020-07-24 14:34] vyzo commented on #361
The message ID is _not_ really expected to be a UTF8 string; the type in the protobuf should probably bytes instead.

[2020-07-24 14:35] vyzo commented on #361
cc @raulk -- we might have to change the protobuf definitions for this, as some implementations expect strings to be utf8.

[2020-07-24 14:59] rklaehn commented on #361
The id is just an opaque thing to identify a message. It is randomly chosen (does not seem to be sequential from what I have seen). I see no good reason to constrain it to utf8.

So maybe just change the .proto to bytes? It seems to be the right thing to do disregarding issues of backwards compatibility...

[2020-07-24 15:02] rklaehn commented on #361
If we change the proto so the message id is bytes, so accept bytes but only emit utf8 strings for some time, this change should be backwards compatible...

[2020-07-24 15:08] vyzo commented on #361
bytes and strings have the same wire representation, there is no compatibility breakage by changing the protobuf type. Note that the message IDs were _never_ valid UTF8 strings to begin with.

[2020-07-24 15:21] rklaehn opened #362 "Testground for gossipsub implementations"
In the java world, there is this concept of a [Technology_Compatibility_Kit](https://en.wikipedia.org/wiki/Technology_Compatibility_Kit).

Several complex protocols come with TCKs that ensure that implementations are compatible. E.g. https://github.com/reactive-streams/reactive-streams-jvm/tree/master/tck

It would be really neat to have something similar. A way for projects to ensure that their i

[2020-07-24 15:25] rklaehn commented on #361
Well, you basically promised for 2 years that the message ids are strings by publishing the .proto . Or does it say that these are arbitrary blobs in the specs?

In any case, what people typically do when implementing a protocol is going to the repo of the most mature impl (in this case go-ipfs) and grabbing the .proto files from there.

But I agree that changing this is the best way forward, sinc

[2020-07-24 15:33] vyzo commented on #361
The promise was wrong, I didn't think it through :)

[2020-07-24 15:52] rklaehn commented on #361
Well, shit happens.

I am still a bit shocked though that the default golang protobuf lib allows you to emit non-utf8 (so not protobuf spec compliant) byte sequences where it says string in the .proto...

[2020-07-25 03:51] AgeManning commented on #361
This is interesting. The spec had the protobuf as strings. For content addressing we were using base64 encoding to ensure utf-8 compatibility.

I guess bytes makes more sense and we can relax the encoding.

[2020-07-25 07:39] rklaehn commented on #361
Yeah, the spec was wrong. But on the positive side, I like bytes much better here. Having to base64 encode obvious things like hashes is not nice.

[2020-07-27 09:37] nisdas opened #364 "Gossipsub Parameters are Not Easily Configurable"
Currently all the gossipsub specific parameters are package globals which are initialized at startup.Ex:
[code]
However for our usecase we need the ability to modify a few parameters, before creating the gossipsub router.  The current method would be to set the package variable to the value we want and the instantiate the router. However this method seems potentially brittle as it could easily con

[2020-07-27 09:42] raulk commented on #364
Yes, this seems like a trivial change to implement. We would encapsulate all these parameters in a struct, as you say, and have the gossipsub logic be driven by a variable of that type that's set on the router.

We'd provide a `WithGossipsubParams` option. If the constructor finds that this option is not set, and therefore the struct on the router is nil it would fall back to populating it by usin

[2020-07-27 09:43] vyzo commented on #364
Sure let's do that. Care for a pr? It should be straightforward.

[2020-07-27 09:54] nisdas commented on #364
Sure thing, I can open up a PR for this :+1:

[2020-07-27 11:04] nisdas commented on #364
I have ran into a bit of a problem with implementing this, while it is easy enough to create a new Config Struct with all the gossipsub parameters, using that config throughout the router brings about some issues. A lot of the methods in the router using the global defaults directly, if we were to change to check for the set parameter config. It would look like this:
[code]
This would add a lot of

[2020-07-27 11:14] vyzo commented on #364
The router uses the reified parameters already (thre are D* members in the struct).
What you can do is simply pass a struct in the option and set the reified variables from it (using the defaults at construction).
Alternatively, you can group them in a struct, with the default initializer.
Don't bother with unset and nil checks, always initialize the router parameters from the defaults at construc

[2020-07-27 11:35] nisdas commented on #364
I was referring to parameters such as this
https://github.com/libp2p/go-libp2p-pubsub/blob/master/gossipsub.go#L779
https://github.com/libp2p/go-libp2p-pubsub/blob/master/gossipsub.go#L542
https://github.com/libp2p/go-libp2p-pubsub/blob/master/gossipsub.go#L1203

None of these params are set in the struct, so there is no easy way to set it and use it other than setting a param config in the router

[2020-07-27 11:39] vyzo commented on #364
ok, but why is that a problem? Just reify them too.

[2020-07-27 11:56] nisdas commented on #364
Ok great, we are in agreement then. I misunderstood your earlier point, one last question do we still need to keep the package global defaults around for any reason or is it fine to just remove them completely.

[2020-07-27 13:33] vyzo commented on #364
Yes, please keep them -- these are the values that will initialize the parameters per instance, unless there is an option override.

[2020-07-30 10:47] blacktemplar opened #367 "Gossipsub Backoffs not stored in GossipSubRouter::sendPrune"
Every time we send a prune via [`GossipSubRouter::sendPrune`](https://github.com/libp2p/go-libp2p-pubsub/blob/4ccb63821e80f5f05f4894f98c2f6a90e64a1894/gossipsub.go#L1007) we include our backoff specified in the config [here](https://github.com/libp2p/go-libp2p-pubsub/blob/4ccb63821e80f5f05f4894f98c2f6a90e64a1894/gossipsub.go#L1752). But we never actually add this backoff for the given peer and top

[2020-07-30 10:54] vyzo commented on #367
That's not correct, we add the backoff before we invoke sendPrune; it is always stored.

[2020-07-30 11:10] blacktemplar commented on #367
Ok, so for the calls in [`GossipsubRouter::Leave`](https://github.com/libp2p/go-libp2p-pubsub/blob/8945f91465bc3ba418688684a2c29c384cd79647/gossipsub.go#L983), where does the backoff get stored?

My scenario is: We leave a topic and then immediately join it again. Then, this will lead to many grafts that are all invalid and get punished because of the backoff.

[2020-07-30 11:17] vyzo commented on #367
Hrm, if we do leave the topic then it is not store; the scenario of immediate rejoin (within a minute) would indeed be problematic.
Do you see this occurring in practice or is it a theoretical concern?

[2020-07-30 11:21] blacktemplar commented on #367
The issue occurred to me because I am currently implementing Gossipsub V1.1 for rust-lang in rust-libp2p and thought of how to handle this edge case. Since the spec is not really detailed enough for such concerns, I am looking at this repository for reference.

[2020-07-30 11:23] blacktemplar opened #368 "Gossipsub backoff latencies may result in punishment"
Consider the following scenario:

1. Peer `A` sends a `PRUNE` to peer `B` with a backoff time of 60 seconds. It stores the 60 second backoff time in its internal data structure.
2. Peer `B` receives the `PRUNE` message after a short delay of lets say one second and stores the 60 second backoff in its internal data structure.
3. Exactly 60 seconds after peer `A` sent the `PRUNE` it might decide to

[2020-07-30 11:23] vyzo commented on #367
So mostly theoretical; still a valid concern however.
We could store the backoffs after we leave the topic as a solution for this -- this is something that would be straightforward to implement.

[2020-07-30 11:24] vyzo commented on #368
There is some slack time already; the backoffs are cleared every few ticks, so we won't try to send a GRAFT immediately after expiration.

[2020-07-30 11:26] blacktemplar commented on #368
That is not a real slack in my opinion. In the extreme case it might happen that the next tick that clears the backoffs gets executed directly after the 60 seconds are over in which case again peer `B` would punish peer `A`.

[2020-07-30 11:31] vyzo commented on #368
Fair enough, we could add an explicit slack of 1s or something before attempting the next GRAFT.

[2020-07-30 11:33] vyzo commented on #368
You also need to consider the time it gets for the GRAFT to get there, which should roughly match the time it takes for the backoff to expire in the other side if we initiated the PRUNE.
But RTTs can be variable, so agreed this could be problematic in the edge case.

[2020-07-31 17:14] aschmahmann commented on #361
@vyzo is this issue closed?

[2020-07-31 17:30] vyzo commented on #361
yes, I think we can close.

[2020-07-31 17:30] #361 closed, assigned to nobody

[2020-07-31 17:32] aschmahmann commented on #358
Sounds great, was one of the suggestions here (https://github.com/libp2p/go-libp2p-pubsub/issues/198#issuecomment-548896902) that has yet to be implemented.

Would welcome a PR.

[2020-07-31 17:32] #358 closed, assigned to nobody

[2020-08-03 11:37] lthibault commented on #358
@aschmahmann Done!  Please see #370.

[2020-08-03 14:59] blacktemplar opened #371 "Gossipsub direct peers get added into fanout and from there into mesh on subscription"
Consider the following scenario:

1. `P1` and `P2` get initiated as direct peers of each other
2. `P1` subscribes to a topic `"topic"`
3. `P2` publishes a message in topic `"topic"`, this will create a fanout, but it gets not checked if the peers are direct peers (see https://github.com/libp2p/go-libp2p-pubsub/blob/2b5243c72f0d1a13a49d346e0f8391bbb0076f8d/gossipsub.go#L905), therefore `P1` will be

[2020-08-03 15:05] vyzo commented on #371
Yes, that's a bug, albeit a benign one.

[2020-08-04 07:42] blacktemplar opened #372 "Floodsub calls tracer.Join on Leave"
I assume this is a bug:

https://github.com/libp2p/go-libp2p-pubsub/blob/2b5243c72f0d1a13a49d346e0f8391bbb0076f8d/floodsub.go#L117-L119

[2020-08-10 08:31] #372 closed, assigned to nobody

[2020-08-10 10:44] vyzo commented on #368
fix in #374.

[2020-08-10 10:51] vyzo commented on #371
fix in #375.

[2020-08-10 12:18] #368 closed, assigned to nobody

[2020-08-10 18:00] #371 closed, assigned to nobody

[2020-08-12 09:33] vyzo commented on #346
Implementation in #376; sorry that 2 weeks became 2 months, we've been really busy with other things!

[2020-08-23 16:16] placer14 opened #380 "Reduce logging around redundant greylisting side-effects"
As a dev who analyses log output from apps which consume libp2p (lotus), I want greylist side-effects to not be so verbose. Both to minimize the amount of overhead needed to manage piping reduncing information to disk but also remove noise from logs for easier anaysis.

The issues are especially prevelent when the libp2p node is experiencing a DoS attack.

Example output we want to avoid:
![image]

[2020-08-23 16:34] vyzo commented on #380
What version of lotus are you running? This should be resolved in latest master, we fixed an issue around negative scores.

[2020-08-23 16:34] vyzo commented on #380
We can certainly reduce the verbosity however.

[2020-08-23 16:36] vyzo commented on #380
actually info is not all that verbose.

[2020-08-23 16:39] vyzo commented on #380
also of note you can reduce subsystem verbosity directly; try
[code]

[2020-08-26 18:55] placer14 commented on #380
Thanks for the suggestion This looks to be on v0.3.4. Is there a way to apply this via environment variable or as a flag to `lotus daemon` on startup? Would rather deploy this node config more "atomically" rather than in a two-step "init->config" process.

[2020-08-26 18:55] #380 closed, assigned to nobody

[2020-08-26 19:01] vyzo commented on #380
I don't know whether it can be set in the config, but we can try to find out :)
Also note that lotus master is now on v0.3.5 (and all the spacerace releases include the fixes from pre-v0.3.5 master).

[2020-08-28 03:54] cc14514 opened #382 "How can I addPeer for Topic after Connected event ?"
I Just find one way to add peer for pubsub , that is Connected event, but some times we would like create Topic after connect , then Topic's peers is nil now, how can I addPeer for Topic ?

[2020-08-28 04:01] cc14514 commented on #382
I get it , may be pubsub.WithReadiness can do that.

[2020-08-28 04:01] #382 closed, assigned to nobody

[2020-09-09 13:57] #346 closed, assigned to nobody

[2020-10-07 13:07] blacktemplar commented on #367
Similar to the `GossipRouter::Leave` problem when joining a new topic the backoffs for peers to graft are not checked (is relevant if we unsubscribed from this topic a short period before).

[2020-10-12 07:55] blacktemplar opened #390 "Multiple subscriptions for same topic in one message"
The subscription filters introduced in https://github.com/libp2p/go-libp2p-pubsub/pull/389 explicitly handle the case that a message contains multiple subscriptions/unsubscriptions for the same topic.

I think it would be good to spec somehow what the expected behavior is in such a situation. I would prefer a simple rule like `We ignore all subscriptions except the last one for each topic`. Curren

[2020-10-15 12:58] blacktemplar opened #391 "Use protobof message type for signed envelope"
Is there any specific reason why the type of a signed address record in the protobuf specification https://github.com/libp2p/go-libp2p-pubsub/blob/89f61abf299aeb209e3293034da7a0b7b318f404/pb/rpc.proto#L56 is `bytes` and not the protobuf message type `Envelope` defined in the specs https://github.com/libp2p/specs/blob/rfc/address-records/RFC/0002-signed-envelopes.md#wire-format?

[2020-10-15 12:59] #391 closed, assigned to nobody

[2020-10-16 17:26] aschmahmann commented on #390
@vyzo do you mind taking a look?

[2020-10-16 18:03] vyzo commented on #390
this is not a bug; sending multiple subscriptions and unsubscriptions on the same message is _not normal behaviour_. The filter does the right thing imo.

[2020-10-16 18:03] #390 closed, assigned to nobody

[2020-10-18 10:06] blacktemplar commented on #390
So just to clarify: You say the behaviour if we have multiple subscriptions and unsubscriptions for the same topic in one message is undefined and other implementations can behave differently? Or should other implementations reimplement the go logic?

[2020-10-19 13:23] vyzo commented on #390
Up to the implementation I would say, but I think the go impl logic is reasonable!

[2020-10-20 21:57] Geo25rey commented on #332
@Stebalien What do you think of each node starting and stopping pubsub outside of libp2p? For example, there could be `ipfs pubsub [start|stop]`. It seems like pubsub is an application specific feature, so the applications that need pubsub start and stop the feature.

With this method, I could see there could be a problem if more than 1 application uses pubsub at the same time. I think a good solu

[2020-10-20 22:11] Stebalien commented on #332
Unfortunately, I don't trust apps to properly manage a semaphore (e.g., they can crash and never reduce it).

The primary reason for a timeout is to reduce the cost of re-starting pubsub (e.g., application restart and/or configuration change). The connections held open by `ipfs pubsub subscribe` would effectively act as a semaphore/reference count.

[2020-10-20 22:30] Geo25rey commented on #332
I meant the semaphore to be managed by libp2p or go-ipfs, not the application using the pubsub service. I do understand your concern. I forgot to account for if an app doesn't properly run stop_pubsub().

So, the timeout would be relatively short (~10 seconds)? Also, I didn't realize starting pubsub was so taxing. Would adding a "suspend" state be useful?

[2020-10-20 22:45] Stebalien commented on #332
That's what I was thinking (or maybe a minute to be safe?).

When we start pubsub, we'd need to:

1. Register the protocol with libp2p. Libp2p would then need to tell our peers that we speak the pubsub protocol.
2. Open streams (in both directions) to all peers that speak pubsub. Unfortunately, the current architecture requires leaving these streams open (which is why I'd like to be able to suspen

[2020-10-20 23:06] Geo25rey commented on #332
I could see always keeping pubsub started. To suspend after the idle timeout, a request can be sent to all peers to not send anymore data to the opened streams and all data received after the suspend state has started can be ignored. To ignore incoming data, have a relatively small buffer contuinously accept data from a blocking read syscall and do nothing with the data.

[2020-10-26 22:55] Stebalien commented on #332
Unfortunately, that's not really going to help.

* A lot of the cost is keeping the streams open.
* If we keep the streams open but don't accept data, there isn't much of a point. When we resume, we'll need our peer's subscription lists so we'll need to fetch them somehow.

[2020-12-31 07:39] sincoew commented on #197
I'm also lose messages when using gossipsub at stand alone project (numerous message at same peer and cpu is slow) ,
does gossipsub has 'At least Once' or 'Exactly Once' option at future ?

[2021-01-31 10:42] RubenKelevra commented on #332
@Stebalien wrote:

Maybe just remove this expectation? There are peers going online and offline like all the time. So "dead" should maybe never be assumed, but instead checked on demand?

We just keep track of peers who closed the connection, and just have an upper limit like 100 peers or so with the age of like 24 hours in the cache, after which they disappear.

This would allow us to do reconnec

[2021-02-13 06:30] nisdas opened #398 "Published Messages Are Dropped In Gossipsub"
Currently before a message can be broadcasted to all peers in a mesh, it has to pass a series of steps before it can be sent to its peers.

- Host Publishes Message:
https://github.com/libp2p/go-libp2p-pubsub/blob/master/topic.go#L245
- Message is handled in the event queue:
https://github.com/libp2p/go-libp2p-pubsub/blob/master/pubsub.go#L591

- While message is being processed, it is run by its

[2021-02-13 09:56] vyzo commented on #398
Yeah, we could make it synchronous at some level and make sure it doesn't get dropped because of full validator queues.

[2021-02-26 17:15] MichaelMure opened #399 "Tracing is uneasy with only the public interface"
I wanted to monitor the messages dropped due to #398 but the tracing API make that difficult. I ended up writing the following (obviously not great) code:

[code]

This code:
- use string constants copied from the package as they are not public
- require a deep understanding of the package internals to catch the correct case
- imply that we are doing an unnecessary marshaling to a protobuf message

[2021-02-27 13:19] bitcard opened #400 "feature wanted: work like message queue such as kafka"
pubsub not support offline message at present, sub node go die for a while, and then go live, they will lost some messages. so it's necessary cache message for a perid of time, such as 24 hour. when node go online, they can consume the message, further more, add a offset to marking the consumption position.

[2021-02-27 13:22] vyzo commented on #400
Sorry, but that's out of scope for the library.

[2021-02-27 13:32] #400 closed, assigned to nobody

[2021-02-27 15:12] bitcard commented on #400
ok, thank you for the reply, is there a similar solution or other demo code?

[2021-02-27 15:15] vyzo commented on #400
check go-libp2p-pubsub-router, it's using last message persistence and a side protocol for synchronization.

[2021-02-27 17:27] bitcard commented on #400
thank you.

[2021-03-01 18:13] iNDicat0r opened #401 "GossipSub Max Message Size"
Publishing a message using the `func (p *PubSub) Publish(...)` method requires a topic and byte slice. When reading the message using `Subscription.Next` we get a protobuf message which contains the data received. However the problem is that there is a protobuf message size limit by google, in some cases 64MB is the max size. How does `go-libp2p-pubsub` handle larger messages ?

[2021-03-01 18:34] vyzo commented on #401
The default max message size is 1MB; you can change this with the `WithMaxMessageSize` option.

However, I really don't recommend sending 64MB messages over pubsub because of amplifcation; if your messages are that large, it's better to send a content identifier and pull it with a side protocol.

[2021-03-02 13:02] #401 closed, assigned to nobody

[2021-03-02 15:51] aschmahmann opened #402 "Handling large number of topic subscriptions"
Currently if a node subscribes to enough topics such that the RPC that is used to send topic subscription announcements exceeds the maximum message size (defaults to 1MiB) then we'll silently fail and stop announcing any of our topics to newly connected peers.

We should more gracefully error, or inform the user, when they've exceeded the maximum number of topics they can subscribe to and addition

[2021-03-10 11:14] vyzo commented on #399
So the right solution for this is to simply expose the lower level interface from `internalTracer` and export the reason strings.
This should give you a more powerful hook that avoids the protobuf round trip.

[2021-03-10 11:44] vyzo commented on #399
See #403.

[2021-03-16 06:28] #399 closed, assigned to vyzo

[2021-03-18 03:35] Stebalien commented on #402
Ideally, we'd be able to send a HAMT or a bloom filter of topics.

[2021-03-18 22:48] Stebalien commented on #398
@vyzo any reason not to just skip validation for our own messages? If we really want, we could even validate before pushing...

[2021-03-19 07:04] vyzo commented on #398
I think that validating our own messages is paramount for correctness -- otherwise we can have some nasty bugs that will be very hard to diagnose.

[2021-03-19 07:06] vyzo commented on #398
From synchronous discussion with @Stebalien we concluded that the right way to solve this issue is to perform validation for own messages synchronously on publish, and return an error if validation fails.

[2021-03-19 16:39] vyzo commented on #398
See #406 for implementation -- @nisdas this should finally resolve this very thorny issue.

Thanks for bringing this up.

[2021-03-19 17:04] vyzo opened #407 "TestTagTracerDeliveryTags is flaky"
it has been temporarily disabled in #406; we need to fix it however, as it is a useful regression test.

[2021-03-23 17:31] richard-ramos opened #408 "Question: Extending Gossipsub protocol list"
Is it possible to extend the list of protocols returned in:
https://github.com/libp2p/go-libp2p-pubsub/blob/5457a2845b06d859df6d3683867808e46a15c500/gossipsub.go#L401-L403
I'd like to include an additional ID besides `GossipSubID_v11, GossipSubID_v10, FloodSubID`, yet I find it difficult to extend GossipSubRouter to include my custom ID.

Floodsub supports this feature with `NewFoodsubWithProtocol

[2021-03-23 17:42] vyzo commented on #408
In principle we could, but there is some impedance mismatch in that the router uses the protocol ID to enable certain features.
For example, it checks for the floodsub ID to determine whether to just treat those peers as simple floodsub peers.
It also checks for the GSv1.1 ID to check whether to enable PX.

[2021-03-23 18:00] richard-ramos commented on #408
Here's the code for my previous idea:
https://github.com/libp2p/go-libp2p-pubsub/compare/master...richard-ramos:master

Perhaps this coud be solved by always return `GossipSubID_v11, GossipSubID_v10, FloodSubID`, yet still allowing to add custom protocols? Something like this code:

[code]

If having this logic is not desirable, would you mind sharing some tips on how could I achieve something sim

[2021-03-23 18:47] vyzo commented on #408
Sure, but how should the router behave towards the custom protocol? Is it
gsv1.1 compatible?

Also, its not entirely clear to me why you want a custom protocol -- what
do you gain by it?

On Tue, Mar 23, 2021, 20:01 RichΛrd ***@***.***> wrote:

[2021-03-23 18:55] richard-ramos commented on #408
I'm attempting to implement this spec: https://specs.vac.dev/specs/waku/v2/waku-relay
The TLDR is:
- It's a thin layer over GossipSub
- Has the following protocol identifier: `/vac/waku/relay/2.0.0-beta2`
- Uses StrictNoSign

I tried to implement it without forking go-libp2p-pubsub, but found it very difficult to do so, hence why attempted to implement it here using the solution that I described e

[2021-03-23 19:19] vyzo commented on #408
ok, I see.

The proper solution would be to support a custom protocol list with a
feature check function. I would accept a pr implementing this so that you
dont have to maintain a fork.

On Tue, Mar 23, 2021, 20:55 RichΛrd ***@***.***> wrote:

[2021-03-23 19:26] richard-ramos commented on #408
Cool! I will start working on it!
Do you have specific requirements on how should this feature check function work?

Thanks!

[2021-03-23 19:32] vyzo commented on #408
well, we should normalize the features we check by protocol ID, should be
straightforward.

On Tue, Mar 23, 2021, 21:26 RichΛrd ***@***.***> wrote:

[2021-03-29 15:42] BigLep commented on #408
@richard-ramos : are you planning to open a PR here?

[2021-03-30 00:14] richard-ramos commented on #408
Hello @BigLep, I'm not able to work on a PR for this for the time being!

[2021-03-31 14:53] #398 closed, assigned to vyzo

[2021-04-02 11:48] vyzo commented on #408
@richard-ramos

Implemented support for custom gossipsub protocols in #413.

To use it, just instantiate your gossipsub using the `WithGossipSubProtocols` option; it takes a list of protocols and a feature test function.

So you shouldn't have to maintain a fork anymore and miss out on all the bug fixes and new features.

[2021-04-02 18:55] #408 closed, assigned to vyzo

[2021-04-02 20:30] richard-ramos commented on #408
Awesome! thank you!

[2021-04-23 14:15] elgohr opened #418 "Connecting to unreachable peer breaks publishing for all"
## Scenario Network
`[ Peer A ] - [ Peer B ]  - [ Peer C ]`
- Peer A can reach Peer B
- Peer B can reach Peer A and Peer C
- Peer C can reach Peer B

Other connections (let's say Peer C to Peer A) are just dropping packets.

## Issue

Let's say Peer A [connects](https://github.com/libp2p/go-libp2p-core/blob/master/host/host.go#L46) to Peer B and Peer C [connects](https://github.com/libp2p/go-libp2

[2021-04-23 17:19] vyzo commented on #418
this is not a bug in pubsub, it does not own the connections.

[2021-04-24 08:27] elgohr commented on #418
I'm not sure about that.
To my point of view pubsub also holds some connection-state https://github.com/libp2p/go-libp2p-pubsub/blob/cbb7bfc1f182e0b765d2856f6a0ea73e34d93602/gossipsub.go#L345
In this way, simply resetting the connection (https://github.com/libp2p/go-libp2p-examples/blob/master/relay/main.go#L77) doesn't work - as the peer still remains in pubsub backoff.

[2021-04-24 08:33] elgohr commented on #418
I'm still trying to find a way to use

https://github.com/libp2p/go-libp2p-pubsub/blob/cbb7bfc1f182e0b765d2856f6a0ea73e34d93602/pubsub.go#L167

as the router is private

https://github.com/libp2p/go-libp2p-pubsub/blob/master/pubsub.go#L50

and it looks like there's no way to use

https://github.com/libp2p/go-libp2p-pubsub/blob/cbb7bfc1f182e0b765d2856f6a0ea73e34d93602/pubsub.go#L221

as there's no

[2021-04-26 06:30] TianshuDing commented on #401
I have the question about Max Message Size. As you say, it's better to send a content idertifier and pull it with a side protocol. So, if you can, please show me some examples about this situation. And if I want to send a message to a single peer in the topic not broadcast to every peers in the topic, what option need to config the gossipPubSub?

[2021-04-26 06:35] TianshuDing commented on #382
Hi, I have the same question about this, how you fix this?

[2021-04-26 07:01] vyzo commented on #401
check go-libp2p-pubsub-router, it uses a side protocol for last write
persistence.

On Mon, Apr 26, 2021, 09:30 TianshuDing ***@***.***> wrote:

[2021-04-26 09:19] TianshuDing commented on #401
Thank you for your advice, any really project using this? And what about the second question, do not broadcast, just send to one peer.

[2021-04-26 09:35] vyzo commented on #401
yes, ipfs uses it.

On Mon, Apr 26, 2021, 12:20 TianshuDing ***@***.***> wrote:

[2021-04-29 18:18] Stebalien opened #419 "Peer declared dead, respawning writer."
I just saw hundreds (thousdands?) of "peer declared dead but still connected; respawning writer: ..." messages. It looks like we need some form of backoff/delay.

[2021-04-30 05:04] Stebalien opened #420 "TestGossipsubOpportunisticGrafting can hang when the race detector is enabled"
Trace: https://gist.github.com/782f9d8bd7149074280138dc463e70df

[2021-05-03 15:59] #364 closed, assigned to vyzo

[2021-05-05 17:07] BigLep commented on #402
@iand is working on this

[2021-05-17 15:30] BigLep commented on #402
Beginner issue is to just get a proper error message.
This is back in the backlog.

[2021-06-10 17:04] prestonvanloon opened #425 "panic: close of closed channel"
Reported https://github.com/prysmaticlabs/prysm/issues/8958.

[code]

I'm not sure how to reproduce this issue, but this routine seems to close a chan that is already closed.

https://github.com/libp2p/go-libp2p-pubsub/blob/v0.4.0/subscription.go#L45-L47

[code]

[2021-06-10 17:28] aschmahmann commented on #425
What's going on is that the application is calling `sub.Cancel()` on a subscription that has already been cancelled. The awkward thing here is that if the application didn't have a second active subscription for the topic then this wouldn't be triggered due to https://github.com/libp2p/go-libp2p-pubsub/blob/e6ad80cf4782fca31f46e3a8ba8d1a450d562f49/pubsub.go#L666-L669

It seems like we should proba

[2021-06-10 18:31] vyzo commented on #425
option 2 sounds best.

On Thu, Jun 10, 2021, 20:28 Adin Schmahmann ***@***.***>
wrote:

[2021-06-11 01:03] JackyWYX opened #426 "Panic when using `WithBlacklist` option"
## Description

When running pub-sub with option `WithBlacklist`, the program panics and exits with the following error:

[code]

## Potential problem

The peer channel is closed but it is not removed from `PubSub.peers` ([Code reference](https://github.com/libp2p/go-libp2p-pubsub/blob/master/pubsub.go#L509)) which will leave a closed peer channel at `peers` field.

[2021-06-15 10:00] #425 closed, assigned to nobody

[2021-06-15 13:13] Wondertan commented on #357
Is this closed by https://github.com/libp2p/go-libp2p-pubsub/pull/393?

[2021-06-15 15:56] huiscool commented on #357
Yep, I think #393 will resolve this problem.

[2021-06-15 15:56] #357 closed, assigned to nobody

[2021-06-30 09:52] Lawliet-Chan opened #428 "My gossiphub subscribe NO message."
Hi， I publish msg into p2p on A node and want to subscribe it  on B node. BUT I cannot accept it  because it blocked.  There are no errors return about publisher or subscriber.
https://github.com/Lawliet-Chan/yu/blob/master/node/master/p2p_pubsub.go#L66

In a strange way,  my code has three pubsub-topic, the others can work.        Just only this one blocked.
I found that the codes block on this l

[2021-07-07 18:38] Stebalien commented on #428
Please direct questions to [discuss.libp2p.io](https://discuss.libp2p.io). We can open a new issue here if we identify a bug.

[2021-07-07 18:38] #428 closed, assigned to nobody

[2021-07-12 19:43] MichaelMure opened #431 "Option to use variable length queue to avoid dropping message on burst"
There is in this package a bunch of pressure release mechanisms to avoid breaking or using too much memory when things get clogged under load. The downside is that pubsub can drop some messages under load, even if the message did find its way across the network. This makes sense *most of the time*.

There is at least 3 spots where that can happen:
- validation queue (tunnable with `pubsub.WithVali

[2021-07-13 21:40] vyzo opened #433 "Improve handling of connection errors and dead peers"
Starting with #430 we now short-circuit attempts to reconnect to peers when we fail to open a stream.
We still try to do this for dead peers that are still perceive as connected but this logically short-circuits when the stream establishment attempt fails.

This is an improvement over what we previously had, where we could get into "respawning writer" loops.
But it does have a drawback: it is poss

[2021-07-19 12:48] #426 closed, assigned to nobody

[2021-07-23 15:21] aschmahmann commented on #431
@vyzo does this seem like a reasonable idea if someone wanted to implement it?

[2021-07-23 16:42] vyzo commented on #431
yeah, for subscriptions definitely; and it shouldn't be too hard.

On Fri, Jul 23, 2021, 18:21 Adin Schmahmann ***@***.***>
wrote:

[2021-08-05 17:45] vishalchangrani opened #442 "PubSub Discovery for at topic stops if node initially starts with no peers"
Hi,
I am using the DHT mechanism for peer discovery. The pubsub lets you pass in a discovery object at startup which is great and simplifies the discovery process a lot since I don’t have to now right the ongoing Advertise and FindPeer calls for peers subscribed to same topic to find each other.

However, if I start a node initially with no peers (no connections), subscribe to a topic and then con

[2021-08-12 11:23] synzhu opened #443 "Filter for nodes that we gossip to"
Context: https://discuss.libp2p.io/t/filtering-nodes-that-we-gossip-to/1012

We need a mechanism that allows us to provide a validator function that, given a message, filters out nodes that we *don’t* want to forward or gossip about the message to.

In other words, we want to implement selective gossip / message forwarding.

[2021-08-12 11:34] synzhu opened #446 "Allowing control over which peers to share peer info with"
Context: https://discuss.libp2p.io/t/filtering-nodes-that-we-gossip-to/1012/3#:~:text=In%20the%20above,that%20set%E2%80%9D%3F

Would like to have a filter that allows me to control who I share peer information with. Perhaps this is only relevant when PX is enabled.

[2021-08-12 11:39] synzhu opened #445 "Mechanism to send the message to the application level if a topic validation fails."
Context: https://discuss.libp2p.io/t/topicvalidator-which-delivers-to-the-application-but-does-not-forward-to-the-network/1010

We would like a way to enable messages to still be sent to the application level, even if the message is invalidated (ValidationIgnore) by a topic validator.

Perhaps we could introduce a new type of Validation Response like ValidationIntercept, which signals that we don'

[2021-08-13 00:31] synzhu commented on #443
@raulk may I start working on a PR for this? This is a very useful feature that we would like to use soon :)

[2021-08-13 05:51] synzhu commented on #443
@vyzo Can you help me transfer this issue to the pubsub repo?

[2021-08-13 07:22] vyzo commented on #443
done; also, you don't need raul's permission to start working on this :)

[2021-08-13 09:11] synzhu commented on #443
@vyzo I was also wondering if you had any thoughts on how this could be implemented cleanly? Originally I intended to do something in a similar vein to the topic validator, but all of the topic validation logic actually occurs in `pubsub.go` (and `validation.go`), before [`Publish`](https://github.com/libp2p/go-libp2p-pubsub/blob/master/gossipsub.go#L943) is called.

For the selective message filt

[2021-08-13 10:08] vyzo commented on #443
I dont think putting it in handleSendingMessages is correct, the right
place to put it in the peer selection.

Simplest way is to have a filter of the form `func(topic, peer) bool` which
we apply inside the peer selection for gossip.

For publishing messages, a similar (or the same) filter can be applied, in
peer selection for mesh construction and flood publishing selection.

The default would be

[2021-08-13 10:10] vyzo commented on #443
Note that the filter would be in the pubsub object, initialzed with a
pubsub option, and thus available to each router.
We want the router to decide how to use it, there is no one size fits all.

On Fri, Aug 13, 2021, 13:08 Dimitris Vyzovitis ***@***.***> wrote:

[2021-08-13 16:32] synzhu commented on #443
@vyzo Cool, my original concern was that I didn't think we wanted each router to decide how to use it, and that there should be a common way to handle this. But I see now that may not actually be the case, so I have a good idea how to get this done in that case. Thanks!

[2021-08-13 17:00] synzhu commented on #445
@vyzo Could you move this one to pubsub as well, and perhaps provide some thoughts?

[2021-08-13 17:10] synzhu commented on #443
I noticed that topic validators are not initialized with a pubsub option, but rather via `RegisterTopicValidator`. I assume this is in order to support dynamic register and unregister.

I have no current use case for unregistering my peer selection filter, but do you want me to support this?

[2021-08-13 17:25] synzhu commented on #443
If I have something like the above implemented, I could probably get away with remembering this data at the application level and looking at it when my filter function is called, but this is a bit hacky.

Actually, I'm still not entirely sure that this is resolved? Implementing things at the peer selection level will allow me to filter out peers that I forward a particular message to, but it would

[2021-08-13 18:16] synzhu opened #444 "Topic-level blacklist"
Can we implement a topic level allowlist / filter? Meaning, a way to specify for a particular topic, the only peers I am interested in  forwarding, gossiping, and receiving messages to / from.

[2021-08-15 22:21] Stebalien commented on #446
Libp2p itself _has_ no peer exchange. What are you refering to?

[2021-08-20 15:42] BigLep commented on #402
@aarshkshah1992 : for your rotation can you please take the error message at the minimum so that if this happens on Gateway we know about it?

[2021-08-27 21:29] synzhu opened #449 "Fix gossipsub subscription filter bug"
As discussed [here](https://discuss.libp2p.io/t/filtering-nodes-that-we-gossip-to/1012/21), there is a bug in the gossipsub implementation that causes messages to be sent in certain cases to peers even if those peers should be blocked by subscription filters.

[2021-09-21 10:50] #444 closed, assigned to nobody

[2021-09-23 12:07] mvdan opened #454 "support waiting until a gossipsub topic has enough peers"
Right now, most tests that build a gossipsub mesh use sleeps to wait for the mesh to build:

https://github.com/libp2p/go-libp2p-pubsub/blob/7ef0669764b94ed11e8b5b0128ee408942ebe5eb/gossipsub_test.go#L62-L63

The indexer-reference-provider codebase has the same problem:

https://github.com/filecoin-project/indexer-reference-provider/blob/3ec1151ca682a437c6e38727aa00b1087e5a0276/core/engine/engine_

[2021-09-23 12:13] vyzo commented on #454
Thanks for the analysis.

I think that the best option is to generalize with readiness (5).  The
implementation would be pretty much the same in (5) and (6) internally.

On Thu, Sep 23, 2021, 15:07 Daniel Martí ***@***.***> wrote:

[2021-09-23 12:29] mvdan commented on #454
Sounds good, thanks. I'll update the existing PR to do 5 and let you know.

[2021-09-24 14:13] mvdan commented on #454
I'm not sure how I can implement 5 in a way that doesn't poll.

With `func WithReadiness(ready RouterReady) PubOpt`, I need to supply a `func(rt PubSubRouter, topic string) (bool, error)`. There's `MinTopicSize`, but that uses `EnoughPeers`, so that would get us back to polling at intervals, I think.

I see `Topic` has its own events like `PeerJoin` and `PeerLeave`, but if all I have is `PubSubRou

[2021-09-24 14:17] vyzo commented on #454
Well it's an internal detail, so an initial implementation that polls is
acceptable.

On Fri, Sep 24, 2021, 17:13 Daniel Martí ***@***.***> wrote:

[2021-09-24 14:19] vyzo commented on #454
note that you can get the topic handle from the topic string by querying
the pubsub object; check the implementation of `Publish`.

On Fri, Sep 24, 2021, 17:17 Dimitris Vyzovitis ***@***.***> wrote:

[2021-09-24 14:53] mvdan commented on #454
Hmm, I can't really see how I can obtain a `*Topic` from a `PubSubRouter`. `*PubSub` does have all the topics, but `RouterReady` doesn't have a `*PubSub`.

I've pushed a polling version of `MinTopicSize` at https://github.com/libp2p/go-libp2p-pubsub/pull/452, and switched a few tests over to it. Notice the TODO added to one of the tests, because I think I'm getting confused there.

[2021-09-24 14:58] vyzo commented on #454
doesn't the option itself have visibility? You should be able to thread it
in.

On Fri, Sep 24, 2021, 17:53 Daniel Martí ***@***.***> wrote:

[2021-09-24 15:03] vyzo commented on #454
also note that there are some thread safety issues. I am not sure whether
EnoughPeers is safe to call outside the event loop, so you might need the
pubsub object to use the eval channel to jump into the event loop to call
it. I'll have to double check that.

On Fri, Sep 24, 2021, 17:57 Dimitris Vyzovitis ***@***.***> wrote:

[2021-09-24 15:08] vyzo commented on #454
Yeah, it's definitely *not* thread-safe.

So the way to go here would be to extend the signature of the option to receive the pubsub object as well, so that you can use it.

Then, if we end up polling (again, perfectly acceptable for initial implementation) use this contraption to call `EnoughPeers` in a safe context:
[code]

[2021-09-24 22:18] synzhu opened #455 "Support per-topic TCP connections"
Can we optionally support dedicated TCP connections per-topic?

This would make it easier to implement traffic prioritization / rate-limiting based on topic.

[2021-09-26 11:04] Stebalien commented on #455
Unfortunately, no. That would require refactoring all of libp2p, or just not using libp2p. Per-topic rate-limiting would need to be implemented inside pubsub itself.

The simplest solution would be a custom validator.

[2021-09-27 17:09] synzhu commented on #455
@Stebalien we can implement rate-limiting inside pubsub, but this would be L7 rate-limiting right?

Having optional per-topic connections would allow user to do stuff at L3/4 instead.

Can we reopen this as discussion for long term impl?

[2021-09-27 18:35] huitseeker commented on #455
Would you have more details? I don't remember @vyzo being as categorical when we broached the subject.

The idea is we already have several possible endpoints for a node exposed through a multi-address. We could choose to use one or the other depending on which topic a particular message fits. Not an easy lift by any means, but I may be missing why it's such a daunting task?

The payoff for this i